[2014-07-31 04:30] Hoshiyuu opened #2 "Is there a possibility for a version where I can choose to monitor multiple programs?"
There are plenty of other games that could benefit from the auto-toggle of DVC between desktop and in-game, can the app be updated in a way that I can add list of programs into a drop down menu?

[2014-11-05 15:31] Lynx23 opened #4 "Enhancement for AMD Cards"
Hi juvlarN, i'm using your tool with my old GTX 260 and i'm lovin it. But as to a due pc update i will change to a R9 280 because of cost effectiveness. Could you possibly enhance your tool with AMD support? Else i would really miss sth.

TIA, Lynx

[2015-02-04 17:03] juRiii commented on #4
Check this out: https://twitter.com/juvlarN/status/562750038506737667

Could you test this version?

[2015-03-22 17:29] jassibacha opened #7 "VibranceGUI only seems to work if CSGO is set to full screen windowed?"
As the title reads, it only loads when in Fullscreen Windowed + Windowed (I play Fullscreen 1024x768)

I've attached my settings, let me know if you need anything else from me. Current setup is 2 670GTX's set as "All DIsplays" running on 3 monitors.

![untitled-1](https://cloud.githubusercontent.com/assets/3331801/6770478/3e00ecc2-d07e-11e4-8060-807fec0ca84b.png)

[2015-03-22 18:23] juvlarN commented on #7
Hi,

so you are running two graphic cards? Can you temporarily disable one of them and look if the bug still occurs? It probably has something to do with Windows using your second indexed graphics card rather than the first one. This is something I haven't kept in mind while developing the vibranceDLL. I have an fix for this in mind though. But first of all, please check whether your second graphi

[2015-03-22 18:49] jassibacha commented on #7
After more testing I figured it out, I had an HDMI cord plugged into my TV and was cloning the display and that was interfering. Once I unplugged that cable it was working correctly in fullscreen.

Awesome program btw!

[2015-03-22 19:10] juvlarN commented on #7
Alright! I'll close this

[2015-03-22 19:10] #7 closed

[2015-03-25 14:28] juvlarN commented on #4
@Lynx23 have you tested the AMD version?

[2015-04-22 14:09] juvlarN commented on #4
Closing this as the AMD support has been added.

[2015-04-22 14:09] #4 closed

[2015-05-04 19:04] dragons4life opened #8 "is there a possibility you can add more than just vibrance as an option?"
Most Nvidia cards also have brightness and gamma, wondering if you can add those settings as an option.

[2015-05-05 11:20] juvlarN commented on #8
This will take some time to implement as the NVAPI is a bitch. I might get to it within the next two weeks. No promises though

[2015-05-05 13:38] dragons4life commented on #8
Thanks

[2015-05-10 18:59] Penagwin opened #9 "AMD Sharpness"
Sorry, I know other's are asking for somewhat similar things. I'll help if I can, although I have never used the adl sdk, or c# for that matter (Java is close enough right? :P).

[Would this maybe help?](https://htmlpreview.github.io/?https://github.com/elitak/amd-adl-sdk/blob/master/Public-Documents/html/display_8h.html)

[2015-05-13 19:06] Hoshiyuu commented on #2
@juvlarN Hey, its been a while, just thought I would stop by and ask again on any chance of manually adding support for other games?

[2015-05-15 15:51] juvlarN commented on #8
I've looked into this and it seems that you need a specific nda version of the NVAPI for this. I've contacted NVIDIA for this issue but it might take a while.

[2015-05-15 15:56] juvlarN commented on #9
@juRiii made the AMD version so he might take a look into it. But to be honest, I dont think there is enough demand for this. You can add this on your own and open a pull request afterwards.
You can pull the master branch and add your changes to the AMD version.
C# is pretty much like Java, you won't need much time getting used to it.

[2015-05-15 16:04] juvlarN commented on #2
@Hoshiyuu you can manually add the support for other games by adjusting the needed strings in the projects. All you need to do is to replace the window name of cs:go ("Counter-Strike: Global Offensive") to the window name you want. You also need to build the vibranceDLL project with adjusted strings if you want to use the NVIDIA version. After that, you have a version built for your specific progr

[2015-05-15 22:30] dragons4life commented on #8
Nice, thanks for trying.

[2015-06-12 01:12] dragons4life commented on #8
Guessing you couldn't implemented it, ty tough.

[2015-06-12 08:54] juvlarN commented on #8
I still don't have an answer from NVIDIA. No idea if they'll ever answer me.
Not the best support i've ever gotten tbh

[2015-06-14 22:14] dragons4life commented on #8
Same, they never replied back when I contacted them.

[2015-07-15 14:29] atomGit commented on #8
"This will take some time to implement as the NVAPI is not a nice thing to work with"

tell me about it :)

i would also just like to add my vote to support gamma and brightness (if possible)

[2015-07-20 20:13] juvlarN commented on #8
I still don't have an answer on my ticket. I'll open another now.
Not sure if this will help but whatever. I have some spare time atm and could use it to work on vibranceGUI... I'll try to contact some NVIDIA people via twitter too.

[2015-07-20 22:02] atomGit commented on #8
much appreciated - thanks

----- Original Message -----
Subject: Re: [vibranceGUI] is there a possibility you can add more than
just vibrance as an option? (#8)
Date: Mon, 20 Jul 2015 13:13:32 -0700
From: juvlarN <notifications@github.com>

I still don't have an answer on my ticket. I'll open another now.
Not sure if this will help but whatever. I have some spare time atm and
could use it to work

[2015-07-21 09:01] dragons4life commented on #8
@juvlarN tough you were dead, thanks for trying homie.

[2015-08-07 09:05] Killberty opened #11 "Setting different resolution for my main Monitor when csgo.exe is launched"
Hey devs,

first off great work, i use it every day an it is truely amazing.

The csgo.exe detection is working perfectly so i would like to have a featire added (if possible) rather than using another, second program for this.

I prefer playing csgo in borderless fullscreen, so i can tab to my other two monitors quickly, but i really want to play in 4:3 1400x1050.

So my question is: can you also

[2015-08-07 22:28] juvlarN commented on #8
They didn't respond to me yet. I actually doubt they ever will.

[2015-08-07 22:30] juvlarN commented on #11
Hi,

this might actually be possible and not much work when NVIDIA finally decides to give me access to their NDA version of the NVAPI. The NDA version of the NVAPI offers a lot of functions which the normal API does not have access too. Things like the one you mentioned could be added quite easily. Reference: https://github.com/juvlarN/vibranceGUI/issues/8

When not having access, it's too much w

[2015-08-08 21:11] Killberty commented on #11
What version of NVAPI do you have? i have acces to R352.

[2015-08-08 21:11] juvlarN commented on #11
Do you mean R352 of the public API or the NDA API?
The public API is of little to no use.

[2015-08-08 21:13] Killberty commented on #11
File name is R352-developer.zip
I am only hobby dev (java and versy little C#) and i dont understand nothing but if oyu want to take a look into it give me your mail adress.

[2015-08-08 21:30] juvlarN commented on #11
Does it contain "NvAPI-NDA.pdf"? If not, it's not right.

[2015-08-08 21:39] Killberty commented on #11
Nope, sorry :(

what about this:
https://code.google.com/p/evolution3d/source/browse/trunk/Devel/Plugin/NvRenderer/NvApi/?r=3

[2015-08-08 21:40] juvlarN commented on #11
its heavily outdated

[2015-08-08 21:42] Killberty commented on #11
Yeah i saw that...

Good luck on getting the latest version then :)

[2015-09-02 21:22] Killberty commented on #11
Hey @juvlarN,

as it doesnt seem to be possible to ghet acces to nvidias nda nvapi, i did some research and found this: http://blog.start-automating.com/updates/How%20to%20change%20the%20monitor%20resolution%20in%20Powershell/

can you implement my feature request by doing this? should be easy, right?

[2015-09-05 20:51] Killberty commented on #11
Found something even better:
http://www.codeproject.com/Articles/36664/Changing-Display-Settings-Programmatically

Please implement an automatic resolution changer <3

[2015-09-07 03:43] commit-sudoku opened #12 "issue when browsing /r/GlobalOffensive"
So I'm assuming the way this program works is by waiting for the current focused window to be titled "Counter-Strike: Global Offensive" and then changing the digital vibrance once it is found.

The problem I have is that when I view the main page of /r/GlobalOffensive, my browser window is titled "Counter-Strike: Global Offensive" and vibranceGUI kicks in.

[2015-09-10 20:40] tatne opened #13 "vibranceGUI isn't working with cloned displays."
Someone had issue with this program not working and only solution was to disconnect HDMI from TV.
I have this same issue and I have 1 monitor and its picture cloned to my TV via HDMI cable.
Is it possible to have this setup working without always unplugging HDMI cable?

[2015-09-10 20:59] juvlarN commented on #13
Hi,

for a quick fix/bypass, try pressing Windows+P and only select your main monitor before you are gaming. Might have to restart vibranceGUI, not sure.

The current code should only affect your main monitor (the one where csgo is running on). What's the problem you are encountering? Does vibranceGUI completely stop working?

Thanks

[2015-09-10 21:12] tatne commented on #13
Thanks for the tip!

My main display is BenQ 21,5" monitor and I've cloned it to my TV from nvidia control panel. So CSGO is running on both of those displays simultaneously. vibranceGUI doesn't work AT ALL, not in Windows and it doesn't react to games also.

[2015-09-10 21:18] juvlarN commented on #13
this is weird. because it is working with 2 monitors without any problem for me.
Unfortunately I dont have a tv that I could plug into my computer. Not sure what's causing the problem.

Does the bypass work for you? So we might have narrowed it down to a TV being plugged into the graphics card.

[2015-09-10 21:32] tatne commented on #13
I discovered something weird with Win+P. If I select 'PC Screen only' my monitor loses signal and only TV shows picture. So my Windows treats TV as primary monitor. And when I select this option and launch CSGO the program woks and TV changes vibrance. When I select 'Second' screen only' TV loses signal and monitor comes back alive. But with this setting automatic vibrance changing isn't working.

[2015-09-12 02:02] m1nhhh opened #14 "vibranceGUI isn't working for my game"
I am currently running a xl2411z BenQ 144hz monitor and an older Samsung monitor for my duo monitor setup. Once I go in game, my vibranceGUI does not affect my color, I play on fullscreen 1024x768 black bars. I would like to fix this so I could play ESEA with nicer vibrant colors. I was previously using SweetFX.

[2015-09-17 22:59] SammyTheBEAST opened #15 "VGUI running in background disables auto-hide"
I have an auto-it script that turned on VGUI when CSGO opens, the only problem is when its running in the background it stops my taskbar from auto-hiding. Is there a way to fix this or can you add a "have VGUI run in background" option?

[2015-09-22 08:30] Verxon opened #16 "Keeps changing the colour"
When I open CSGO with vibrance running, it looks like the first one. If I open vibrance after already launching CSGO it looks like the second one for a few seconds then reverts back to the first one.
EDIT: Screenshots don't include the different vibrance XD.
Anyway the first one was normal with the blue etc and the second was a bit more gray, which one is with the vibrance on?

[2015-09-22 08:33] Verxon commented on #16
Nevermind I worked it out, you can close this if you want,

[2015-09-25 01:41] ledcaveman commented on #8
Am I right in assuming that you need the same specific nvapi version for contrast control as for gamma?

[2015-10-27 05:38] Duwayne6 opened #17 "Other Applications"
You should add the ability to add other applications to a list that the application monitors, so we can use it for other applications besides CSGO.

Thanks!

[2015-10-27 08:06] juvlarN commented on #17
This is already released as a beta version. Check my twitter account @juvlarn for a download link.

[2015-10-27 14:57] Duwayne6 commented on #17
Does this beta version set NV @ 100% it don't have a slider like the "current version".

I snagged the 2.1 BETA.

[2015-10-27 15:00] juvlarN commented on #17
Double press the icon of the game you added.
A new slider window specifically for that game will pop up. Gotta make that a little bit more clear I guess. :-)

[2015-10-27 15:06] Duwayne6 commented on #17
Ah! that worked. thanks!!! this is exactly what i was after.. Thanks!

[2015-10-27 15:08] Duwayne6 commented on #17
The "set your own delay" functionality isn't in this version is it? i can't find it. (i had it set to 30 seconds per check to reduce stutter possibility)

[2015-10-27 15:12] juvlarN commented on #17
No this is not needed anymore. The Application now listens for window change events from Windows. This should be using even less performance than the version from the website (no matter what delay you set). The change of the vibrance level is also instant now. As long as your graphic card can keep up, vibrancy should already be changed when you are about to alt+tab.

I'm closing this. Have fun wit

[2015-10-27 15:12] #17 closed

[2015-11-11 21:13] #16 closed

[2015-11-11 21:14] juvlarN commented on #14
Sorry for the delayed response, is this still happening?
Have you tried the version that has been released on my twitter?

[2015-11-23 14:21] Kazarp commented on #15
Can you please paste the auto-it script?

Does it mean that your taskbar is visible in CSGO?

Does it happen only when VGUI is running in the background?

It is probably an auto-it issue, but if you give more info, I'll look into it.

[2015-11-23 14:25] Kazarp commented on #12
@commit-sudoku this should be fixed in the new beta release

[2015-11-27 00:29] michaeltcoyle opened #18 "suggestion: support multiple processes"
Hey, why not add support for multiple processes?

This would allow the program to adjust vibrancy settings for any game you choose, in addition to csgo.

[2015-11-27 07:28] juvlarN commented on #18
Duplicate issue. Take a look here:
https://github.com/juvlarN/vibranceGUI/issues/17

[2015-11-27 07:28] #18 closed

[2015-12-29 20:34] mike-u commented on #12
This is actually pretty funny.

[2016-03-27 20:30] JoiNNN opened #19 "Vibrance on laptops is possible"
I wanted to try the app and noticed that there is no laptop support the reason being that nVIDIA didn't include support for vibrance. However this is not entirely true. On modern laptops at least, you have control for  **Vibrance** via the Intel's Graphics Control Panel, is named **Saturation**.
![gfxv4_0_2016-03-27_22-04-03](https://cloud.githubusercontent.com/assets/3322834/14067710/34f87034-f46

[2016-03-27 20:49] juvlarN commented on #19
Hi,

as there were many requests to adding Intel support to vibranceGUI, I've researched whether there is an API that allows to retrieve and change the color settings of a specific display. Apparently there is no public API at all. Furthermore I do not have access to a laptop where I could test the Intel support. Trying to get it running without access to a laptop that is able to run the program i

[2016-04-10 01:01] theowner997 opened #20 "Making this work for other application/games"
Not really an issue, more of question.
Is there any way I can make this work for other games when they are launched?
Or if you are interested, you can make it, so people add the games into a game list and when they are launched it does the same thing.
I am an AMD user, I miss the hotkeys from the catalyst drivers.

[2016-04-10 01:27] theowner997 commented on #20
I know some advanced Java and basic things in C#

Is there a possibility for the program to check for more than the csgo proccess ? Like iw4mp.exe in my case etc etc.
I can help you If I can.
for example

if (csgo.exe ..... ) then blah blah
if (iw4mp.exe ... ) then blah blah

If you dont want to implement it this way, can you show me at least how can I do it?

Great program by the way!

[2016-04-10 09:04] juvlarN commented on #20
Hi,

this is already implemented in branch Dynamic_VibranceGUI (https://github.com/juvlarN/vibranceGUI/tree/Dynamic_VibranceGUI) and also published as a beta version on my twitter for NVIDIA users. The AMD version was previously coded by @juRiii but he's a lazy boy so it might take some more time.

Greets

[2016-04-10 09:56] theowner997 commented on #20
So I checked twitter and everything , and the AMD guys seems very inactive,so until the guy releases the AMD version with the game list, I would like to implement code that checks for more than just the csgo.exe . And if the program finds at least one of the games running, then do the saturation stuff.

The problem is, I am not a C# guy, I know Java though which is very similar.
Any way showing me

[2016-04-10 13:43] juliuszint commented on #20
I looked trough the code and it seems (at least for the NVIDIA part) that in the `NvidiaVibranceProxy` class there is a Dll imported Method `isCsgoActive` that does the check wheter csgo is running or not but the source for the Dll is not shipped! To make the code consistent (and not work around) one would have to modify the vibranceGUI.dll. Is there a possibility @juvlarN that you could include t

[2016-04-10 14:15] juvlarN commented on #20
@theowner997
For AMD, you could start off by changing "Counter-Strike: Global Offensive" to whatever window title you want  [here](https://github.com/juvlarN/vibranceGUI/blob/master/vibrance.GUI/AMD/vendor/mvvm/viewmodel/VibranceSettingsViewModel.cs). I'm not totally sure about the code flow for the AMD version but stepping through the code with the debugger will give you enough insight anyways.

[2016-04-14 18:25] theowner997 commented on #20
Seems the AMD guy has lost interest or something.
Anyway, If anyone can help me make the program check for more games and not only CSGO, let me know. No GUI or game list just background checking.

[2016-05-24 15:02] lamka02sk opened #21 "Linux version"
Make a Linux version too please.

[2016-05-24 15:40] juvlarN commented on #21
Hi,

apparently this is not possible for NVIDIA as their NVAPI (https://developer.nvidia.com/nvapi) is for Windows platform only.

AMD might work as their ADL (http://developer.amd.com/tools-and-sdks/graphics-development/display-library-adl-sdk/) is compatible with Linux as well. But porting this over to Linux just for an AMD version is not gonna happen.

Greets

[2016-05-24 15:45] juvlarN commented on #11
This has been added in the meantime: https://github.com/juvlarN/vibranceGUI/tree/Dynamic_VibranceGUI

[2016-05-24 15:45] #11 closed

[2016-06-09 17:41] aPollO2k commented on #21
I think it's not much work. Maybe i will try it this weekend. lamka02sk have you tried to run it with mono(-complete) ?

[2016-06-09 17:49] aPollO2k commented on #19
Also if external display is in use and the HDMI/DisplayPort is directly connected to the nvidia gpu there IS a option for digital vibrance in the nvidia driver. vibranceGUI works well with external display BUT if i add it to the system startup i get every time an error while no external display is connected. Maybe you can make a little feature.
I think its very useful if vibranceGUI can check if t

[2016-06-10 05:51] lamka02sk commented on #21
No I havent. Maybe I will try...

[2016-06-24 13:45] Viljami17 opened #22 "(Vibrancegui) Cs:Go problem with weapons and profile pictures!"
Hello! Anyone else got this problem or is it normal. In **CS:GO** match in buy menu i see blue under the weapon and profile pictures look so terrible. How to fix this?
Thanks for advice!
- Ezfin from yt

[2016-06-25 17:21] juvlarN commented on #22
Hi,

using Digital Vibrance for NVIDIA -- or the equivalent Saturation for AMD -- might introduce visual artificats due to the nature of these algorithms. While both of the functions try to enhance the visual appearance of the displayed image, both can produce weird artifacts when postprocessing the frames.

You could try and lower the in-game value in vibranceGUI to lower the amount of artifacts

[2016-06-25 17:21] #22 closed

[2016-09-03 12:03] remixxx commented on #8
What about adding those features for AMD? This will hugely increase the value of the app. Thanks

[2016-09-14 22:39] luisrudge commented on #19
I don't have these options in my control panel :(

![image](https://cloud.githubusercontent.com/assets/941075/18532457/96c96ac0-7ab2-11e6-8852-e510c56a40a6.png)

![image](https://cloud.githubusercontent.com/assets/941075/18532478/b5fe3d4e-7ab2-11e6-9679-0e43c405e1c6.png)

http://www.lg.com/us/monitors/lg-29UM67-P-ultrawide-led-monitor

Any thoughts?

[2016-10-01 09:08] ElPumpo opened #24 "Release versions on GitHub"
Why are no releases (exe files) available on https://github.com/juvlarN/vibranceGUI/releases ?

[2016-10-15 09:59] Sorashi commented on #24
I think it's because

1. Creating a release creates a tag, which isn't part of the development process of the repo maintainer(s)
2. This repo is meant to be for people interested in the source code or collaboration, which means that they probably can make a release (compile) themselves
3. Any client can download the binaries from the [official homepage](http://vibrancegui.com/) of this project

[2016-10-15 10:10] juvlarN commented on #2
This has been implemented in the meantime.

[2016-10-15 10:10] #2 closed

[2016-10-15 10:11] #9 closed

[2016-10-15 10:12] juvlarN commented on #12
This has been fixed for a while now. I'm closing this issue.

[2016-10-15 10:12] #12 closed

[2016-10-15 10:12] #13 closed

[2016-10-15 10:13] juvlarN commented on #15
Is this still an issue?

[2016-10-15 10:15] juvlarN commented on #20
The new versions contain AMD support for any application.
You can build the program yourself or download the beta binaries from [here](http://vibrancegui.com/vibrance/beta)

[2016-10-15 10:15] #20 closed

[2016-10-15 10:16] juvlarN commented on #21
What's the status on this issue?

[2016-11-22 16:26] MarcysVonEylau opened #26 "CS:GO, green tint with 16:9 resolutions?"
Vibrance greater than 200 introduces green tint. 300 everyting is green.

Only happens in CS:GO at 16:9 resolutions set in settings. 4:3 and 16:10 is okay.

Graphics: AMD R9 280;
Driver Version: 16.40.2311-160916a-307259E;

[2016-11-22 16:29] juvlarN commented on #26
Hi,

this is not a bug but a feature.
Your AMD drivers can only go to 200, while vibranceGUI can force the value up to 300.
300% can introduce artifacts as you noticed, but this is out of control of vibranceGUI.
Use 200% if you prefer the looks of 200%.

[2016-11-22 16:29] #26 closed

[2016-11-22 18:55] MarcysVonEylau commented on #26
But it's okay for 4:3 and 16:9 resolutions... And it worked before :/

[2016-11-22 19:18] juvlarN commented on #26
Well, I don't know sorry. When the value is set, it's set. The GPU will have to do the rest. Ask this question to the AMD support, although they probably won't give you any support because you're using a value not allowed/wanted in their AMD drivers. If it worked before, you might try to reinstall the old AMD drivers you had back then.

[2016-12-12 18:26] harrymilne opened #27 "Updates/Versioning"
I tried looking but found no evidence of a version number for different releases. How am I supposed to tell if I need to download a new binary? I looked at the 'Date Modified' on Windows and could see that a new binary had been built but that isn't a very effective way of telling if an update is available.

Not sure if this project is still in development but it'd be nice to see just an 'about' bu

[2016-12-12 18:35] juvlarN commented on #27
Hello @harrymilne,

you can find a version number in the properties (tab "details") of the exe file.
The current beta has a version number of 2.2.0.0.
The version number has been increased from 1.x.x.x to 2.x.x.x when switching from the csgo-only vibranceGUI to the dynamic version that can handle any application. The dynamic version is available on my twitter (@juvlarn) for now until we resolve so

[2016-12-12 18:55] harrymilne commented on #27
I feel stupid now. 👍

Thanks. 😂

[2016-12-23 17:20] harrymilne opened #28 "Hangs Windows Explorer on Startup"
When I initially log into Windows 10 vibranceGUI seems to make Windows Explorer hang so I can't click anything, however, it does respond to me hovering over the elements (highlights on hover).

This affects the Start Menu and Taskbar.

[2016-12-23 17:21] juvlarN commented on #28
Hi @harrymilne,

this is apparently caused by a bug in Microsofts .NET Framework.

The issue has already been addressed in the beta versions.
Try the newest beta version on my twitter (@juvlarN). The version fixes this issue.

[2016-12-23 17:21] #28 closed

[2017-01-19 19:04] DieQuelle opened #29 "Vibrance Gui not working for R6 Siege"
Hey,

at first thanks for this reall needed tool. I used it for csgo a while but now im playing r6 siege.

One Problem is: It won't get detected. So first thing happens already here. (Tried running gui as admin/normal local admin user) no difference.

I added it manually by adding the .exe - still not working.

Second thing to try if it works I configured my Windows Vibrance level to maximum (300)

[2017-01-19 19:12] juvlarN commented on #29
Yeah you have AMD drivers left over on your computer.
Clean up your drivers. Especially atiadlxx.dll and atiadlxy.dll in your Windows folder (move/rename/delete).

[2017-01-19 20:52] DieQuelle commented on #29
Okay i fixed that with the amd clean up utility.

No I cant bring back the dynamic mode? Any Idea?

[2017-01-19 20:55] juvlarN commented on #29
What do you mean exactly?
When you can set the value to 300%, you're running the AMD version. Which means atiadlxx.dll or atiadlxy.dll are still present in your Windows folder. For Nvidia, you will need nvapi.dll in your Windows folder. It should come with  a clean install of the Nvidia drivers.

For the Nvidia version, you can set the vibrance value from 50% to 100% because that is limited by the

[2017-01-19 21:08] DieQuelle commented on #29
The GUI looks like that: [http://puu.sh/ts7lq/0c4681140a.png](url)

Im searching for files of my old ATI Card but i dont want to move ati*.dll from the windows folders.
Cant understand why the utility is so much crap.

[2017-01-19 21:13] juvlarN commented on #29
The screenshot looks fine to me. You did not properly describe what is not working though. "No I cant bring back the dynamic mode?" ... do you mean the Beta version of vibranceGUI? The screenshot shows the version from the website and not the Beta from my Twitter.

I never told you to delete ati*.dll files lol. I told you two specific files (the API of AMD driver), which when you are using nvidia,

[2017-01-19 21:26] DieQuelle commented on #29
Okay nevermind.

So for everyone who is bugged with ATI Files:

**Use with Caution**

Run Powershell @ C:\Windows

Check if there are ANY needed files.

Sorry for that stable / beta fail thought I got the "newes" .exe.

Works now as expected.

Thank you for your fast help 👍

[2017-01-19 21:26] #29 closed

[2017-03-19 17:11] kingrunes opened #30 "Setting vibranceGUI to auto-start at boot causes explorer.exe to hang"
After setting vibranceGUI to auto-start and rebooting, after 5-10 seconds from logging in explorer.exe freezes (spinning cursor on taskbar), the start menu won't open and some applications that have already started also freeze.

I can workaround this after each boot by launching Task Manager via Ctrl-Shift-Esc and restarting/killing explorer.exe. I have disabled auto-start, reboot and confirmed ev

[2017-03-19 17:13] juvlarN commented on #30
This is a problem caused by the notification popups of the .NET framework on Windows 10.
Use the beta on my twitter, this is fixed in there.

[2017-03-19 17:15] kingrunes commented on #30
Alright I'll have a look, thanks for the insanely quick reply :)

[2017-03-19 19:11] kingrunes commented on #30
I've switched to the beta and now receive an error message when launching vibranceGUI: System.BadImageFormatException (see http://i.imgur.com/hbsr86G.png).

I've installed the Microsoft Visual C++ Redistributable 2012 package and removed old nvapi.dll files from C:\Windows after hearing that had fixed it for others (except the one that's in use by most running applications). I'm assuming there's a

[2017-03-20 17:26] juvlarN commented on #30
For some reason you don't have the [Visual C++ Redistributable VS 2015](https://www.microsoft.com/en-us/download/details.aspx?id=48145).
Take the x86 download, even when you have a x64 Windows

[2017-03-20 18:22] kingrunes commented on #30
Yep, that was it. Thanks :)

[2017-04-09 01:25] nadadepao opened #31 "I believe vibranceGUI is lowering my Windows volume"
Whenever I alt-tabbed out of CS:GO, my volume would lower a lot (even though in the mixer it was at max volume level) and my microphone would stop working, and the only fix for that was unplugging and plugging my headset back.
I exited vibranceGUI, started CS:GO, alt-tabbed, and everything is fine, that's why I believe it was vibranceGUI causing the problem.

[2017-04-09 07:26] juvlarN commented on #31
Well, obviously vibranceGUI has no code implemented that interacts with your microphone or the Windows settings that control the volume of your input/output devices.

Make sure you have this setting checked:
Right click the "Sound" icon in your Windows taskbar on the far right, select Input Devices, select Tab "Communication", select option "Disable" (roughly translated). And see if it works.

Btw

[2017-04-21 16:07] xtremegaming299 opened #32 "vibranceGUI not working on fullscreen csgo"
working good in windowed but not working on fullscreen

[2017-04-21 16:10] juvlarN commented on #32
which gpu do you have?

are you using razer synapse? people had trouble with it before.

[2017-04-21 16:11] xtremegaming299 commented on #32
Gtx 750ti and im not using razer synapse

[2017-04-21 16:15] juvlarN commented on #32
do you have multiple monitors? if so, describe your setup pls

also how do you go back into the fullscreen game? try alt+tab instead of clicking on the icon in windows

[2017-04-21 16:17] xtremegaming299 commented on #32
I use one monitor and its not working with alt+tab

[2017-04-21 16:30] juvlarN commented on #32
please press windows button -> enter "dxdiag" -> press "save all information"
and upload the file here please

[2017-04-21 16:56] xtremegaming299 commented on #32
[DxDiag.txt](https://github.com/juvlarN/vibranceGUI/files/947737/DxDiag.txt)

[2017-04-21 17:39] juvlarN commented on #32
dxdiag looks fine. you need to give some more information (programs/processes that might conflict) so I can help you. usually, if it works in windowed mode it should work in fullscreen mode as well.
no one ever reported this issue so there _might_ be some conflicting program running on your pc.

[2017-04-22 16:53] xtremegaming299 commented on #32
i will try to reinstall windows

[2017-05-03 13:02] Bilinodas opened #34 "Not working"
hi, i've been using vibrancegui for a long time and today when I started csgo it wasn't working. So i already checked the video settings because i know multisampling desactivates vibrancegui. The real problem is that vibrance gui affects my game when its window mode and doesnt when it's fullscreen.

[2017-05-03 23:02] imsecrett opened #35 "vibranceGUI not working on CS:GO"
I've always played CS:GO and vibrance usually worked... Today I started CS:GO and vibrance wasn't working, any ideas how to fix or what could the problem be?

[2017-05-04 23:05] xJoeyv commented on #35
Same here, It doesnt work on Fullscreen CSGO if it is windowed or Fullscreen windowed it works. Didnt test on other games yet

[2017-05-05 16:27] tremu opened #36 "error with multiple monitors / "primary monitor only""

[2017-05-05 19:42] imsecrett commented on #35
Mine isn't working in none of them :/

[2017-05-05 19:44] juvlarN commented on #35
The new CSGO update broke vibranceGUI. It works for most of the people, but for some it is broken. See here: https://www.reddit.com/r/GlobalOffensive/comments/691j8c/digital_vibrance_option_is_not_applied_to_csgo/
Other games should work.

[2017-05-05 19:45] imsecrett commented on #35
Is there any fix for it??

[2017-05-05 19:46] juvlarN commented on #35
@imsecrett
1) add another game or add your browser just to test if vibrancegui works
2) set 100% (nvidia) or 200+% (amd) to that game/program you selected
3) set windows vibrance value to something lower
4) tab in + out the program to see if the vibrance value gets changed

[2017-05-05 19:52] juvlarN commented on #35
Btw, I am sure that it is not related to vibranceGUI and rather caused by CSGO itself because:
1) Close VibranceGUI completely
2) Go to your NVIDIA / AMD Control Panel
3) Search "Digital Vibrance" option for NVIDIA (Display -> Desktop Color Settings -> 3. Digital Vibrance) or "Saturation" for AMD (My Digital Flat Panels -> Display Color -> Saturation)
4) Set the value to 50% (NVIDIA) or 100% (AMD)

[2017-05-05 19:53] juvlarN commented on #34
Hi, check this issue please: https://github.com/juvlarN/vibranceGUI/issues/35

[2017-05-05 19:53] #34 closed

[2017-05-05 19:54] juvlarN commented on #36
The error message "Changing the resolution failed: DispChangeBadmode" should only occur when you use the option "Change resolution when ingame".

Do you have a NVIDIA or AMD GPU?

[2017-05-05 20:16] imsecrett commented on #35
What I'm asking is, do you have any idea if you can actually make it work on CS:GO again when you find out what's wrong with it?

[2017-05-05 22:38] tremu commented on #36
Nvidia GPU, "Change resolution when ingame" is unchecked. If it helps, I have 3 monitors, play CSGO on the primary monitor. All 3 are 1920x1080, as well as my ingame resolution.

[2017-05-07 12:25] Mraft opened #37 "Vibrance gui monitor problem"
So i installed vibrance gui and suddenly it changed my monitor graphics to shit and colors to more shiny. Does some1 knows how to solve it? PS: i dont want to reinstall my windows

[2017-05-07 12:30] juvlarN commented on #37
Please describe more in depth what happened.
When you change your Windows vibrance level to more than 50% on NVIDIA and 100% on AMD, the colors will obviously change.
Just by starting the program, you should not see any difference.

[2017-05-07 14:51] vikenemesh opened #38 "AMD card is detected when there is none installed"
The window title says "AMD" although there is a NVidia card in my system right now. I previously had an AMD card installed, but not right now.

Is there an option to force the option? Or can you adjust the detection?

[2017-05-07 14:53] juvlarN commented on #38
You did not uninstall your AMD drivers then.
Download an AMD driver uninstaller tool, the official one does not delete all files.
Make sure you do not have "atiadlxx.dll" and/or "atiadlxy.dll" in your Windows folder anymore.
Rename / Move / Delete those files.

[2017-05-07 14:53] #38 closed

[2017-05-07 15:02] vikenemesh commented on #38
The official "AMD Clean Uninstall Utility"solved it. Seems like the normal uninstaller can't manage to do it properly, like you said. Thanks.

[2017-05-31 11:26] Arkanion opened #39 "Vibrance does not reset to "Windows Vibrance Level" when VibranceGUI is exited."
The current vibrance does not reset to the value selected at "Windows Vibrance Level" when you exit VibranceGUI while having an Program/Game open that you have selected to use VibranceGUI with.

Example:
1. Affect Primary Monitor only" is set.
2. VibranceGUI is on another Monitor
3. Program to trigger vibrance change on  is located on primary monitor and has the current focus.
4. Vibrance changed.

[2017-06-04 19:08] #39 closed

[2017-06-04 19:10] #27 closed

[2017-06-04 19:21] #24 closed

[2017-06-04 19:21] juvlarN commented on #35
Any news on this? Is it working for someone again?

[2017-06-04 19:30] juvlarN commented on #36
Are you sure all of your monitors can display the resolution (i.e. the hz)?
Like you can have 144 hz on main monitor but the other two dont support 144hz and then it might fail..

[2017-06-04 21:37] juvlarN commented on #32
Did it work out for you?

[2017-06-04 21:37] juvlarN commented on #31
Any update on this?

[2017-06-04 21:38] #30 closed

[2017-06-04 21:38] juvlarN commented on #21
Any updates?

[2017-06-04 22:58] nadadepao commented on #31
I don't remember whether was vibranceGUI doing that, but currently, everything is fine. You can close this issue if you want.

[2017-06-04 23:08] #31 closed

[2017-06-04 23:37] juvlarN commented on #14
I guess this is resolved?

[2017-06-04 23:37] #14 closed

[2017-06-08 17:12] #15 closed

[2017-06-09 18:49] TheRealSlimshady1 opened #42 "VibranceGui not working in fullscreen csgo"
Okay so i use Windows 8.1 Pro, Gtx 980, and vibrance wont work only in windowed mode. It works everywhere else, just in fullscreen not. What can i do?

[2017-06-09 19:01] juvlarN commented on #42
Which game are you trying?
Did you try it in another fullscreen game too?

[2017-06-09 20:15] TheRealSlimshady1 commented on #42
Im trying in CS:Go, but it works on fullscreen Leauge Of Legends.

[2017-06-09 20:19] juvlarN commented on #42
Yeah this is a known problem in CS:GO.
Since the update like 1 month ago, Valve broke the Digital Vibrance / Saturation effect for some users. It still works for most of the users. But for some it does not work.

To show that this is not related to vibranceGUI:

- Close vibranceGUI
- Go to NVIDIA Control Panel
- Go to Display -> Desktop Color Settings -> 3. Digital Vibrance
- Set value to 100%, yo

[2017-06-09 20:20] TheRealSlimshady1 commented on #42
I did that too already.

[2017-06-09 20:20] TheRealSlimshady1 commented on #42
And nothing happend in csgo, only in windows.

[2017-06-10 20:23] TheRealSlimshady1 commented on #42
SO?

[2017-06-10 20:55] juvlarN commented on #42
so... this is not related to vibranceGUI :-)

[2017-06-10 21:12] TheRealSlimshady1 commented on #42
And what can i do about it?

[2017-06-13 21:57] Merandy commented on #35
Not working since that May 5, really annoying to play csgo without it. valve has to ruin everything as per usual

[2017-06-13 22:09] juvlarN commented on #35
One thing that was weird is that all of the guys on twitter had a NVIDIA driver version that they installed by theirselves. When I updated to Windows 10 Creators Update, a NVIDIA driver version got installed that gets distributed by Microsoft Updates. I can't even find the driver version number I have (382.05) on the NVIDIA website.

If someone is really bored, one could try to entirely purge the

[2017-06-14 12:19] Merandy commented on #35
Just tried it (I have a lot of time on my hands and im desperate), didnt fix the issue, could be just me tho, but at this point im 100% sure the problem is from csgo itself, not my software/hardware, Because VibranceGUI works perfectly on desktop but not in csgo. thanks for trying man you're awesome!

I guess we just gotta get used to CSGO's awful colors

[2017-06-30 12:25] M3dik opened #43 "VibranceGUI is not working on CS:GO help me! :(("
So 2months ago I downloaded the VibranceGUI and I was like: ,,Yes new VibranceGUI!"
So I put the Counter Strike-Global Offensive there and max it to 100% And it wasn't working :(
But on other games (for example H1Z1 King Of The Kill) it's working 100% good

PLEASE juvlarN HELP ME! :(((

[2017-06-30 12:26] juvlarN commented on #43
Duplicate of this issue: https://github.com/juvlarN/vibranceGUI/issues/35

[2017-06-30 12:26] #43 closed

[2017-07-01 20:35] Arkanion opened #44 "Settings for moved Files are still active and you will not be able to edit them."
If you move a File you won't be able to edit it's settings anymore, but the Settings will still be applied to the new Executable location.
Adding the new Location won't override the old one and will not activate, the old settings will still apply in this case.

[2017-07-02 17:14] #44 closed

[2017-07-15 23:46] JiNova commented on #36
Have the same problem as described here. My primary monitor is 144hz, the secondary however does support up to 60hz max.

[2017-07-20 19:18] M3dik opened #46 "VibranceGUI issue"
Hey juvlarN,
I have issue with VibranceGUI.
It's change colors of the game but, it isn't that strong how it should be
PLEASE HELP!!!
(Yes I have it to 100%)

[2017-07-20 19:19] juvlarN commented on #46
100% is max for nvidia, you can't get higher.
What do you mean "how it should be"? Its depending on monitor settings, other GPU driver settings etc...

[2017-07-20 19:20] M3dik commented on #46
Its not giving me strong colors

[2017-07-20 19:20] M3dik commented on #46
its just lighter

[2017-07-20 19:38] juvlarN commented on #46
If you see a difference between for example 50% and 100%, it is working as intended.
Note that vibranceGUI itself has no control how strong the colors are. This is bound to your GPU driver. vibranceGUI just automates these GPU settings for your convenience so you do not need to manually change it in your GPU driver program every time you switch out of a game into windows etc.

[2017-07-24 14:51] K0bin commented on #36
One could say I'm experiencing that bug too.
![image](https://user-images.githubusercontent.com/1131720/28529214-4604fa6c-7090-11e7-852c-7ef5a81dbe01.png)

[2017-07-24 15:15] juvlarN commented on #36
I'll work on a fix

[2017-07-24 17:10] juvlarN commented on #36
Can you try the attached version?
I don't have two monitors at hand now but I've tried to fix it nonetheless.
Lmk if this works... Otherwise I'll need more information on how to reproduce this issue.

[vibranceGUI-2.3.0.4.zip](https://github.com/juvlarN/vibranceGUI/files/1170572/vibranceGUI-2.3.0.4.zip)

Note that the easiest way to stop these error messages to pop up is to kill the entire vibranc

[2017-07-24 17:10] #46 closed

[2017-07-25 21:56] daniele-salvagni commented on #19
It is indeed possible, the problem as @juvlarN said is that there isn't a public API. I managed to reverse engineer the Intel HD Graphics Control Panel, it is using a proprietary library called `igfxDHLib.dll` which is obviously not documented. I managed to reverse that too (I'm still not sure about some parts of the library) and to put together some code about 5 months ago that has been working p

[2017-07-26 11:42] zerox06 commented on #19
Hello Daniele, I interested to try your stuff, im new on github, I thought that I could find a .exe to start the software but there isn't :/

I got a 960m and i7 6700hq

Thank you for answer

[2017-07-26 18:46] daniele-salvagni commented on #19
Hi @zerox06, you can find a download link for the executable here: https://daniele-salvagni.github.io/color-goggles/, there is a `Test` button in the application which should increase your saturation to minimum, maximum and back to normal if it is working. It may just crash as I was able to test this only on my system, it is just a fast "prototype" so I didn't take the time to manage exceptions. L

[2017-07-31 02:55] JiNova commented on #36
I tried the attached version for 3 days now and as far, as I can tell, the problem seems to be resolved!

[2017-08-01 17:29] juvlarN commented on #42
Can you try the newest beta on vibrancegui.com/vibrance/beta ?

[2017-08-04 01:18] tremu commented on #36
I'm still getting the same error message (lots of them), but the actual problem is solved: upon alt-tabbing, only the primary monitor's vibrancy is adjusted. Thank you!

[2017-08-10 23:33] j4wn commented on #42
2.3.0.5 works for me on Windows 10 (1703) w/ NVIDIA 384.94 (full screen CS:GO)

I'd say this was related to detection? I experienced this in 2.3.0.3 but @TheRealSlimshady1 can you confirm?

[2017-08-16 13:12] Dreamer707 commented on #19
Hello JoiNNN I have a intel i5 and I dont have these settings... why?

[2017-08-17 19:36] K0bin commented on #36
Yup, didn't fix it.

![image](https://user-images.githubusercontent.com/1131720/29430252-16fa7e4c-8394-11e7-9e7a-f6f10eb2fdb4.png)

[2017-08-23 14:17] JuniorJPDJ opened #48 "[feature request] leave only one display enabled while in-game"
It would be nice feature, to have enabled one display when in-game and restore configuration after alt-tab or game quit (like vibrance)

[2017-08-25 09:40] M3dik opened #49 "VibrancaGUI is not giving me good Vibrance"
Hello juvlarN!
VibranceGUI is not giving me good Vibrance.
I have it on 100% but the game is not that nice like it should be it just lighter.
Can u help me with that?

[2017-08-25 09:45] juvlarN commented on #49
Elaborate on "like it should be"?
100% is the maximum on NVIDIA. There is no way to get more than 100% on NVIDIA gpus as the driver limits the digital vibrance level.
When you mean your colors are less vibrant than the ones you see on Twitch, keep in mind that streamers use dedicated capturing cards which will add another % of color vibrancy. The streamers themselves do not see the additional colo

[2017-08-25 09:46] M3dik commented on #49
Where can I switch it? Can you help me with that?

[2017-08-25 11:38] juvlarN commented on #49
You change the settings at the monitor itself. You should see settings like "Brightness", "Saturation", "Contrast" and the like. Adjust them so it fits your needs.

I have a BenQ XL2420Z, which has an additional "remote control" next to the monitor stand.
With this "remote control" I can switch between setting mode 1 / 2 / 3. Maybe your monitor has a similar control, which makes it easy to switch

[2017-08-25 13:48] M3dik commented on #49
Thx dude its helped <3

[2017-08-25 13:56] #49 closed

[2017-09-11 17:13] jibiox commented on #42
@juvlarN I had the same issue both nvidia & vibrancegui stopped working in-game fullscreen for me AFTER i upgraded to my BenQ xl2411z 144Hz screen, however the beta you linked fixed it for me so thanks !

[2017-10-08 09:35] Buracekburacek opened #51 "VibranceGUI is detecting NVIDIA invalidly"
Hello.

I have download VibranceGUI, however I can't launch it. It gives me this error message:
![obrazek](https://user-images.githubusercontent.com/24480446/31315624-538760c2-ac1c-11e7-99e7-29597d8bcb61.png)

I however don't know why that message pops up, because my GPU is AMD, my computer doesn't contain anything from Intel. I tried DDU, but the NVIDIA driver was not there, and the error remains

[2017-10-08 13:53] juvlarN commented on #51
Search for "nvapi.dll" in your Windows folder.
If you have the file, there is a previous installation of the NVIDIA drivers present. You might have not properly cleaned up your old drivers after switching from NVIDIA to AMD.
If you didnt switch from NVIDIA to AMD, some other program might be using the NVIDIA API interface (nvapi.dll) for something. Even though I have never heard about a program do

[2017-10-15 22:37] Firenox89 commented on #21
So I just had a look into it, but ADL is still not supported for AMDGPU.
Also there is no statement from AMD when they plan to do something in that direction.
https://community.amd.com/thread/218865
So cards from the 200 series and older ones could work with catalyst drivers.
But since this project was created for Windows, Im not sure if it makes much sense to put in the effort to port everything

[2017-10-23 18:29] Akandesh commented on #36
yep, get this often as well. atleast remove the damn messagebox, I get tabbed down from it.

[2017-10-24 18:52] juvlarN commented on #36
Try this version and let me know if it works... Thanks
[vibranceGUI-2.3.0.6.zip](https://github.com/juvlarN/vibranceGUI/files/1412093/vibranceGUI-2.3.0.6.zip)

[2017-10-24 21:17] Akandesh commented on #36
Alright I'll try. Maybe it would be nicer if you changed it to a traytip aka ballon tooltip since then we won't get tabbed out and the message still goes through.

[2017-10-27 23:00] JiPaix commented on #36
@juvlarN @Akandesh I just ran into the very same problem a minute ago (144hz monitor + game runs at 800x600 and a 1080p 60hz secondary monitor) and this version fixes it.

[2017-10-30 21:22] JasmuheeN commented on #35
For me vibranceGUI does not work at all . i have a trashy pc and it sais that it cant find my graphicsAdapter type . what can i do ?

[2017-10-31 08:57] juvlarN commented on #35
@imsecrett can you try out the latest beta and see if it works now: [vibrancegui.com/vibrance/beta](vibrancegui.com/vibrance/beta)

@JasmuheeN install your nvidia/amd gpu driver. Remember that Intel and NVIDIA laptops are not supported, as outlined on the website.

[2017-11-27 22:15] sprylog opened #52 "VibranceGUI Alt Tab issue"
Having trouble while alt tabbing in cs go and payday 2,  some times it csgo when i alt tab, and payday 2 when i alt tab it goes back to the game, and i have to alt tab a couple of times to go to my desktop

[2017-11-27 22:17] juvlarN commented on #52
How do you think this is related to vibranceGUI?

[2017-12-03 00:19] nalmeth commented on #8
It's been two years - Do you think you could look into this again? According to a comment on [this page](https://stackoverflow.com/questions/5119477/how-can-i-program-a-nvidia-brightness-slider-like-the-volume-slider) there's a public (no nda required) version at the bottom of the page. I would really like to be able to use a brightness/gamma control.

[2017-12-03 11:21] lesjj opened #53 "VibranceGUI affects secondary screen"
Hey,

VibranceGUI is affecting my second monitor while im not in any game, just in windows. I got Nvidia graphics card btw. When I switched off the option "Affect primary monitor only" it went away and when I turned it on again it was still okay. My second screen is not my primary monitor btw. Besides that VirbanceGUI also gives me still the message from another issue -> "Changing the resolution f

[2017-12-03 13:38] juvlarN commented on #8
The commentator was wrong when he posted that comment in 2011. The NDA
version of the NVAPI is still required for getting/setting the VideoState.
I have just downloaded the latest released NVAPI and there is still no
information about these functions nor any documentation about digital
vibrance itself.

2017-12-03 1:19 GMT+01:00 nalmeth <notifications@github.com>:

[2017-12-03 13:40] juvlarN commented on #53
Have you tried the Beta already? [vibrancegui.com/vibrance/beta](vibrancegui.com/vibrance/beta)

[2017-12-03 13:50] lesjj commented on #53
Nope! Gonna try it now, thanks. Update your website plz :) (Very old version online)

[2017-12-04 06:39] sprylog commented on #52
because it only happens with vibranceGUI opened, when i close it it fixes this issue

[2017-12-04 11:26] juvlarN commented on #51
Any update?

[2017-12-04 11:27] #37 closed

[2017-12-04 11:27] #48 closed

[2017-12-04 11:29] juvlarN commented on #42
Looks like this is resolved! Thanks for your input guys

[2017-12-04 11:29] #42 closed

[2017-12-20 22:02] nvhhr opened #54 "Add close button minimizing"
Any chance you could add an option to minimize the program with the X button instead of closing it?
I accidentally close it often, and I have no reason to ever do so.

[2017-12-27 14:00] mritunjaymusale opened #55 "Contrast /color shift after existing csgo in vibrancegui"
When I launch csgo the app works fine, when I exit the app I still some contrasted colors on y monitor my second monitor is unaffected by it
(only Fix i know)
Logging off and logging back in

[2018-01-05 07:47] horngjun opened #56 "Screen Resolution changes after closing CSGO with vibrance on"
My screen is running 1920x1080 resolution but when i open csgo with vibrance on, after i close cs, the resolution will automatically changes to 1280x720. I need to change it back manually by myself :( any solution for this?

[2018-01-07 18:57] avaque commented on #19
@daniele-salvagni the thing is that your program simply alters what we can already do ourselves in intel control panel (as displayed in the pic on top of the post)
im looking to go further if its possible, cause vibrancegui pushes it so much further, but then again it may not be possible simply cause of intels dumbass limits

[2018-01-07 20:04] daniele-salvagni commented on #19
@avaque VibranceGUI does the same but with Nvidia Settings, staying within the limits dictated by Nvidia. It is not possible to further increase the vibrance via software while still being VAC safe, I might check if the Intel limit can be bypassed on the driver level but I won't get my hopes up about that.

[2018-01-07 20:48] daniele-salvagni commented on #19
It is kinda possible to bypass the limit, however we fall in the undefined behaviour realm (this should also be device-dependent). This is what happens at different saturation levels:

- 0%: Normal level
- 100%: Intel limit
- 330%: Sweet spot behind the limits

From here the saturation starts to affect the hue effectively decreasing the visibility:

- 470%: Green hue takes over
- 950%: Red hue tak

[2018-01-07 21:14] zerox06 commented on #19
Go further Intel limite would be awesome thèse colors are so nice

Le 7 janv. 2018 21:48, "Daniele Salvagni" <notifications@github.com> a
écrit :

[2018-01-08 23:39] avaque commented on #19
@daniele-salvagni the 330% is just what im looking for. Ive searched alot and found nothing which could lead to further saturation increase than what i have right now. Only closest thing ive found is Color filter option in Windows 10 where the "Deuteranopia" option increases saturation but only of green and red colors.

[2018-01-09 23:10] daniele-salvagni commented on #19
**Color-Goggles v1.0.0** is out: http://dan.salvagni.io/s/color-goggles/

![CG](https://user-images.githubusercontent.com/6751621/34745778-e9e03b98-f591-11e7-98e8-0c47e67e45f6.png)

It is a complete rewrite of the applciation and it is now possible to increase the saturation up to **320%** (check the `Remove limits` option). I just sold my old laptop, so I wasn't able to test it on more than one d

[2018-01-09 23:57] avaque commented on #19
@daniele-salvagni thank you sooo much. I just dont understand why didnt intel do it in the first place.

[2018-01-14 16:24] NeedHelperino commented on #19
@daniele-salvagni i need to find a file name igfxDHLib.dll but i dont have that file in my filerepository

[2018-01-14 16:28] avaque commented on #19
@needhelperino its in one of the folders definitelly, have you tried searching "igfxdhlib"in the search tab?
and pick the newest one by date

[2018-01-14 16:30] daniele-salvagni commented on #19
@NeedHelperino I need some more details in order to be able to help you. Are you on a Desktop/Laptop? What's your CPU? Do you have a dedicated GPU? Which one?

[2018-01-14 16:38] NeedHelperino commented on #19
Yes i have an Laptop i have an I3-3217U CPU and an dual GPU 1st GPU intel hd graphics and my 2nd GPU is an 770M Nivida

[2018-01-14 16:46] NeedHelperino commented on #19
@avaque yes i did find it but i dont know where to put the file

[2018-01-14 16:48] avaque commented on #19
@needhelperino in the same folder with the colorgoggles.exe and its .dll

[2018-01-14 16:56] NeedHelperino commented on #19
@avaque look this might seem pretty stupid but when i extract the file i dont know where to put it i cant find it in my roaming i cant find it in my download page i dont know where to look

[2018-01-14 17:05] daniele-salvagni commented on #19
You can extract `color-goggles.exe` wherever you want, even in a folder on the Desktop. You then need to copy `IgfxDHLib.dll` you found in the same folder as `color-goggles.exe`.

[2018-01-14 17:09] NeedHelperino commented on #19
i made a new map put it on my desktop than got the extracted files put them in the map and copied the IgfxDHLib.dll in to the map what now

[2018-01-14 17:32] avaque commented on #19
if by "map" you mean "folder" then just launch the .exe

[2018-01-17 15:30] pCoder3000 opened #57 "Cant change resulution when VibranceGUI is active"
i have a 1060 6gb and my drivers are up to date

[2018-01-17 16:36] juvlarN commented on #57
I also can't change my resolution in the NVIDIA driver. It does not seem to relate to vibranceGUI though. When I untick autostart in vibranceGUI, reboot, try to change the resolution in the NVIDIA driver, nothing happens as well.

However, when I use the Windows resolution changer (in the Windows display options menu)  it does work - with and without vibranceGUI running.

[2018-01-18 20:46] pCoder3000 commented on #57
I got the problem only with Fortnite ...
And i was able to chage my resolution when i turend vibranceGUI off :P

[2018-01-18 20:49] juvlarN commented on #57
I will need steps to reproduce this then. I can't seem to reproduce this error

[2018-01-18 20:49] pCoder3000 commented on #57
When i chage my resolution over Windows display options the fps is locked to 60 and in my NVIDIA driver shows me that my resolution is UHD
![grafik](https://user-images.githubusercontent.com/35534230/35120728-6149dc8a-fc99-11e7-8a9a-7eeae656e266.png)

[2018-01-18 20:49] juvlarN commented on #55
Do you use a NVIDIA or AMD gpu?

[2018-01-18 20:50] juvlarN commented on #53
Have you tried it in the meantime?

[2018-01-18 20:50] pCoder3000 commented on #57
yeah mabe i can try it again

[2018-01-18 20:56] juvlarN commented on #57
This is weird. The driver should not do that, it works fine for me as well.
Try to set the resolution in Windows menu (set hz higher than 60).
Run cmd.exe and type
`wmic PATH Win32_videocontroller get currentrefreshrate`
This will show your current refresh rate. And see if it correctly set the refresh rate.
If it does, then your nvidia driver seems to be buggy. Run [Display Driver Uninstaller](htt

[2018-01-18 20:57] pCoder3000 commented on #57
All right here
![grafik](https://user-images.githubusercontent.com/35534230/35120908-eec72b44-fc99-11e7-8ccf-088d36fa0507.png)
all normal here too
![grafik](https://user-images.githubusercontent.com/35534230/35120966-1c196cce-fc9a-11e7-8b44-a9aa35c8fe6a.png)

mhh since the new update from Fortnite this glitch dident happend again :/ 👍

[2018-01-18 20:58] pCoder3000 commented on #57
thx you <3

[2018-01-18 20:58] juvlarN commented on #57
Alright, so is this resolved?

[2018-01-18 20:58] pCoder3000 commented on #57
i think so i will call you when it happens again 👍

[2018-01-18 21:02] pCoder3000 commented on #57
mabe you know why my gtx has 2 1080 p modes 1 with UHD and one without ? xD
![grafik](https://user-images.githubusercontent.com/35534230/35121245-1009a952-fc9b-11e7-9858-8c71d341d7e2.png)
![grafik](https://user-images.githubusercontent.com/35534230/35121295-3521b9d2-fc9b-11e7-89ed-4f42fa6f497e.png)

[2018-01-18 21:03] juvlarN commented on #57
If I recall correctly, you should use the "PC resolutions". No idea why there are these Ultra-HD resolutions.

[2018-01-18 21:08] pCoder3000 commented on #57
the pc resolutions work for me but i think some games and somtimes shadowplay switch them to the Ultra-HD resolutions and they are laggy.
The whole name is stupid Ultra-HD 1080p xD

[2018-01-18 21:30] lesjj commented on #53
Beta worked! Thanks

Met vriendelijke groet,

Lesley Hermsen
E-mail: l.hermsen92@live.nl<mailto:l.hermsen92@live.nl>

---- juvlarN schreef ----

Have you tried it in the meantime?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/juvlarN/vibranceGUI/issues/53#issuecomment-358777353>, or mute the thread<https://github.com/n

[2018-01-19 14:11] mritunjaymusale commented on #55
Nvidia GTX 1060

[2018-01-20 13:46] Joe-Alderdice opened #58 "VibranceGUI Always on?"
I'm not sure what I did, but I put the vibrance for CS:GO from 70% to 100% and now, my very left-hand monitor (1/3) is always at 100% vibrance and It's really annoying, I've even tried removing the program and it remained like that.

[2018-01-21 16:26] jeffreylec commented on #56
This seems to be problem for me too.

[2018-01-21 16:27] jeffreylec commented on #52
When I alt tab, vibrance gets messed up and doubles the vibrance and messes up my resolution.

[2018-01-21 16:34] juvlarN commented on #52
Give me a detailed step-by-step explanation of how to reproduce this issue please.
I am not facing the error you see. And which vibranceGUI are you using? Also mention some information about your gpu as well as Windows version.

[2018-01-21 16:35] juvlarN commented on #58
You can always manually reset the vibrance level for any monitor in your NVIDIA control panel. Go to Display -> Desktop Color settings and switch back the vibrance level to whatever you prefer.

When you face this error again, please let me know about the steps to reproduce this issue. Thanks

[2018-01-21 17:04] juvlarN commented on #56
Can you try the following version of vibranceGUI:
[vibranceGUI-2.3.0.8-resolution-logging.zip](https://github.com/juvlarN/vibranceGUI/files/1649945/vibranceGUI-2.3.0.8-resolution-logging.zip)

It will create a log file ("vibranceGUI_log.txt") in the folder where you run the executable.
The logs that will be created look like this and might give us a better way to pin down this issue.

`
Log Entry

[2018-01-21 17:10] #57 closed

[2018-01-21 17:11] #53 closed

[2018-01-21 17:20] juvlarN commented on #55
Can you verify that the settings in your nvidia control panel are unchanged:
NVIDIA Control Panel -> Display -> Deskto color settings

Any more steps on how to reproduce this issue? How often does it happen?
Windows vibrance level?
CSGO vibrance level?

[2018-01-23 16:43] pCoder3000 commented on #57
got problem again ;P cant chage resolution back while vibrace is running ;P

[2018-01-24 18:33] Shrenade514 commented on #55
I am encountering this issue as well. I think it might be only contrast that is increased after closing csgo.

I have a NVIDIA GTX 950 and the the constrast shift happens every time I close csgo for the first time (when using vibrance.gui).

The nvidia control panel colour settings are not changed.

This might be happening to many people but most people won't realise what's causing it or won't giv

[2018-01-30 00:26] proplayerforsure commented on #51
I didnt find it
Any tips what should i do next?

[2018-02-04 13:54] ginjohn5snaps opened #59 "Remote minimize notification"
Hey guys. Thanks for a great app. I use the CS version, and I am however a bit annoyed by the minimize notification. It seems to pop up randomly. Can it be turned off?

[2018-02-06 15:05] horngjun commented on #56
Thanks, its fixed.

________________________________
From: juvlarN <notifications@github.com>
Sent: Monday, January 22, 2018 1:04 AM
To: juvlarN/vibranceGUI
Cc: horngjun; Author
Subject: Re: [juvlarN/vibranceGUI] Screen Resolution changes after closing CSGO with vibrance on (#56)

Can you try the following version of vibranceGUI:
vibranceGUI-2.3.0.8-resolution-logging.zip<https://github.com/juvlar

[2018-02-06 15:17] jeffreylec commented on #56
How did it fix?

[2018-02-07 07:35] DetectiveSquirrel opened #60 "VibranceGUI affects secondary screen"
Affect Primary Monitor only: On
Affects second screen when changing to the Windows Vibrance Level which as i understand is the "Default" level to go back to when not affected by what program is running.
I have tried to beta version and its the same thing, can this program not change the values at all for the secondary screen when this setting is turned on?

[2018-02-12 13:54] axel37 commented on #36
I have the same issue. Started happening a few days ago when i installed my second monitor.

[2018-02-18 19:44] swekgg opened #61 "VibranceGUI not working anymore."
I have always used vibranceGUI without any issues but it stopped working for me. Changing the slider doesn't seem to do anything anymore, but the strange thing is that when I close the program, it does change the digital vibrance to the % it was set on while closing.

Example: I put 70% in vibranceGUI, nothing happens, I close vibranceGUI and the digital vibrance changes to 70%.

Any ideas?

Windo

[2018-02-22 16:52] phillippu commented on #51
Hey, I'm having the same problem, but I changed from AMD to NVIDIA. Can you please show me what file to delete from AMD?
I tried renaming the nvapi.dll file, vibranceGUI works, but I cannot launch cs:go.w

Thankful for help

[2018-02-22 16:59] juvlarN commented on #51
@phillippu Running the Display Driver Uninstaller tool did not work?
When you switch from NVIDIA -> AMD you need to fully uninstall your AMD drivers. If it still does not work after running the DDU tool, search for "atiadlxx.dll" and/or "atiadlxy.dll". Make sure you rename/move/delete them. Try to start vibranceGUI again afterwards.

[2018-02-23 14:03] phillippu commented on #51
Okay, that worked. But I cannot change the settings for each of the game. When I try so, this message pops up, but in Swedish;
I translated it to:
An exception not handled has occurred in your application program. If you click Continue
this error is ignored. If you click Finish, the application program is terminated.

The value of 300 is not valid for Value. Value should be between 'Minium' and 'M

[2018-02-23 14:25] juvlarN commented on #51
Please go to the folder %appdata%/vibrancegui and delete
applicationData.xml. This will remove your application settings.

phillippu <notifications@github.com> schrieb am Fr. 23. Feb. 2018 um 15:09:

[2018-02-23 15:27] phillippu commented on #51
Hey, it worked.
But I was able before to set the vibrance to 300% in csgo but not now?
If I cannot set it to more than 100% (Or me just having no memory) You don't have to reply.
if I am wrong, but i'm almost certain of it?
Anyways thanks for the time you spent fixing my problem.

(reply if you have a fix to get csgo from 100% to 300%) thanks

[2018-02-23 16:00] juvlarN commented on #51
NVIDIA = 100% max, amd = 300% max.
It's an entirely different thing. 100% is the maximum you can go on NVIDIA, it's also not possible to force it higher because the driver limits the values.

[2018-02-24 17:33] All-github-usernames-taken commented on #61
- Same issue here on Windows 7 latest updates + latest nvidia driver (clean installed with DDU > latest version installed > rebooted twice)

- Slider settings save

- I then close app, reopen, settings still there

- but has no effect ingame

- tried redownloading it

- also tried deleting its folder from %appdata%

- in applicationdata.xml in its folder, 100% slider vibrance gives value of only 6

[2018-02-24 17:36] juvlarN commented on #61
@All-github-usernames-taken
63 = maximum nvidia value, the nvidia driver only accepts values from 0-63 for the digital vibrance effect

which application are you trying? add another one, double click the icon, set your ingame vibrance value and then check if it works. Try for example your browser (chrome/firefox/whatever). If that works, try the application where is does NOT work in windowed/fulls

[2018-02-25 19:44] swekgg commented on #61
Vibrance only changes when I close VibranceGUI. Other then that nothing works.

[2018-02-25 19:47] juvlarN commented on #61
@swekgg which values are you using for "Windows vibrance value" and the "Ingame vibrance value"?

[2018-02-26 09:50] swekgg commented on #61
Windows = default. Changing it in the control panel works without any issues. I have always used 100% on CSGO and Overwatch. The only thing I can think of what's causing this issue, is the fact that i formatted last week, a fresh Windows 10 install. Other then that I have no clue. I'm now using a different tool called "Saturation Toggler" which gets the job done but has limited features.

[2018-02-28 08:03] All-github-usernames-taken commented on #61
@juvlarN

Apologies, I noticed that Nvidia Control panel has stopped working and no longer shows up when I right click on the desktop. As expected, when clean installing the latest Nvidia drivers after erasing the current ones with DDU in safe mode resolved the issue

[2018-02-28 08:04] All-github-usernames-taken commented on #61
There was no issue with vibranceGUI in the first place, the Nvidia drivers had become corrupted or something but a clean install fixed it

[2018-02-28 09:30] swekgg commented on #61
Maybe you can create you're own topic? Mine hasn't been fixed yet, DDU and fresh driver install does not change anything.

[2018-02-28 09:57] All-github-usernames-taken commented on #61
It's pretty obvious we are experiencing different issues

[2018-02-28 11:10] swekgg commented on #61
@juvlarN So the old version still seems to work... Any ideas?

[2018-03-07 18:13] camjac251 commented on #57
For me this problem occurs as well.

I've reinstalled my drivers many times before and even replaced the displayport cable thinking that it was faulty but what happens for me is that (at least I think) after running a game that is added to vibrancegui and closing it, then either in the nvidia control panel or windows settings, you can't change the resolution or refresh rate of the monitor. It will

[2018-03-07 18:20] juvlarN commented on #60
Hook me up on Twitter https://twitter.com/juvlarN/ so I can direct message you. I might have a fix for this in mind.

[2018-03-07 19:15] juvlarN commented on #59
The Beta version is not pushing out notifications any more, try this: vibrancegui.com/vibrance/beta

[2018-03-07 19:16] juvlarN commented on #57
@camjac251 can you work out a step-by-step explanation on how to reproduce this issue?

[2018-03-15 23:50] disco0 commented on #56
Been having a similar issue with sporadic resolution regression occuring when clicking on explorer windows, vibranceGUI, or games assigned to change vibrance (no games are set to change res, btw)—only when VibranceGUI is open. Since I switch between 120/144 often this happens quite a bit, my solution at the moment has been setting my monitor resolution two times via NCP or with Display Changer, wh

[2018-03-16 03:47] disco0 commented on #56
Here's the order of actions I did before getting these in the log:
-I cleared all my program settings, set autostart and left 'Affect Primary Monitor only' disabled for now
-Added Quake Champions the program list, set 92% vibrance level in game and didn't enable the Ingame Resolution option
-Opened the game in borderless windowed mode
-Opened VibranceGUI while in game
-Even after closing the game

[2018-03-21 00:21] nejtilsvampe opened #62 "VibranceGUI's minimum is 50% instead of 0%."
Can we please get an option to at least go lower than 50%?

The usecase for me is I have a monitor in which I have maxed color saturation, which is perfect for gaming, however when watching movies it is going overboard.

I would like to go less than 50% in the GUI on my desktop, so that I can maximize the color saturation in games without having to fiddle with the monitor settings every time.

Mor

[2018-03-21 17:41] alohottin opened #63 "VibranceGui changing what ?"
Helle Developer ;
I need some information and help
I wondering how the VibranceGui work, I know it is changing saturation but how ? (regedit or something ?)
I'm wondering because I set some digital vibrance for H1Z1 and I deleted this but it still using old settings. And I can't delete this because I can't see settings in VibranceGui ui.
How can I fix this ?

Here is screenshot
[https://prnt.sc/iu

[2018-03-21 17:48] juvlarN commented on #62
The NVIDIA API, which you are referring to, limits the digital vibrance values from 0 to 63 internally.
0 represents 50% and 63 represents 100% in the NVIDIA Control Panel.
It is not possible to **set** values below or higher than these values.
The API does also not return any negative value when **retrieving** the current value from the NVIDIA API. When you change the digital vibrance value in yo

[2018-03-21 17:48] #62 closed

[2018-03-21 17:50] juvlarN commented on #63
Have you tried to re-add H1Z1 and set the ingame value to 50% (which is the default value)?

[2018-03-21 18:06] alohottin commented on #63
Yes, I tried but no result. But when I close VibranceGui it will be turning default digital vibrance.

[2018-03-21 18:29] juvlarN commented on #63
Go into folder %appdata%\vibranceGUI\ (start Explorer -> type %appdata%\vibranceGUI\ ) then open applicationData.xml and search for h1z1 and see if it is still in there for some reason. If it is, remove  the entire XML element surrounding the h1z1 exe path, this means the entire <ApplicationSetting></ApplicationSetting> block.

[2018-03-21 19:08] alohottin commented on #63
Thanks for the help. It works. But why I can't see in VibranceGui ui. It is bug or my mistake ?

[2018-03-24 09:13] spartaque12 commented on #35
this shit doesnt work for me too , ive no idea how the fuck it works for other ppl

[2018-03-26 09:06] xJoeyv commented on #35
@spartaque12 It's Github here not Steam Forums. But you can try out the beta and install the latest drivers. Also switching your Resolution from Fullscreen > Windowed > Fullscreen can help on CSGO

[2018-03-27 06:37] samheed opened #64 "Vibrance gui fullscreen problem"
I installed vibrance gui on Battlefield 1 and it fucked up the game so i turned it of and Now my games brightness is way too high in fullscreen and some texts and details is blurry

[2018-03-27 06:46] juvlarN commented on #64
Which gpu do you have?

samheed <notifications@github.com> schrieb am Di. 27. März 2018 um 08:37:

[2018-03-27 09:12] samheed commented on #64
I have aorus geforce gtx 1080ti waterforce extreme edition 11gb

[2018-03-27 11:03] samheed commented on #64
I forgot to samt that i got 2 monitors one   144hz and secondary is60hz but the problem is still there when i unplug the 60hz monitor

[2018-04-08 16:30] juvlarN commented on #61
@swekgg which vibranceGUI version are you using? Do you have a multi-monitor setup?

[2018-04-13 18:08] juvlarN commented on #35
For everyone having this problem:
1) Shut down vibranceGUI
2) Download beta linked above
3) Navigate to %appdata%\vibranceGUI in your explorer
4) Delete applicationData.xml
5) Restart vibranceGUI.exe
6) Re-add any application you had added before
7) See if it works

I had two people on Twitter who said that this helped them to fix this issue.
I am still looking into what could have caused the prob

[2018-04-13 18:11] juvlarN commented on #64
Did it work?

[2018-04-13 18:12] juvlarN commented on #63
It is a bug, I will look into this. It probably has something to do with the configuration data not being saved in a proper way.

[2018-04-13 18:14] #59 closed

[2018-04-13 18:14] juvlarN commented on #58
Any info on how to reproduce?

[2018-04-13 20:12] juvlarN commented on #56
@disco0  What kind of a resolution is 1536 x 1080? Looks like a custom resolution to me. Have you tried changing this to something "normal"? Not sure if that should matter because the NVIDIA Api is asked for available resolutions on startup of vibranceGUI...
And it is in "Stretch" mode, have you tried changing that to Default as well?

[2018-04-20 23:11] giuliannosbrugnera commented on #36
Same issue as well, however I am connecting to my pc through TeamViewer when the error happens.

[2018-04-21 18:50] NRickHyper opened #65 "vibranceGUI Error : You can run vibranceGUI only one at a time!"
When I try to run vibranceGUI.exe I can´t because there is a error and it shows in the screen "You can run vibranceGUI only one at a time!

[2018-04-22 15:29] Ghosty141 opened #66 "While VibranceGUI is active I can't change the refresh rate in Control Panel"
When I start CS:GO my monitors refresh rate (Acer Predator X34P, 120hz GSync) is set to 120 Hz with GSync On. After quitting the game it gets reset to 60hz or 50hz and whenever I want to change it back to 120hz  (after hitting "Apply"), the screen flickers and it's back to 60hz/50hz.

Specs:
Win10 Home, 1709 (16299.371)
GTX 1070 with 391.35 drivers

[2018-04-22 15:51] juvlarN commented on #66
Are you sure you have 120 Hz enabled when in Windows?

VibranceGUI retrieves the Windows desktop settings (resolution, refresh rate) on program startup and will make sure that this exact desktop settings are not being changed. This is due to the fact that you can select the "Change Resolution when Ingame" checkbox, which will make vibranceGUI change your resolution to whatever you set in there. An

[2018-04-22 15:55] juvlarN commented on #65
VibranceGUI.exe is opened then. Close it in the task manager and start the program again.

[2018-04-22 16:00] juvlarN commented on #36
@axel37 @giuliannosbrugnera I need more information.
GPU type, monitor setup (which one is the primary monitor and on which one do you play <-- this might be an issue!), did you recently change the nvidia driver (if it worked before)?

[2018-04-22 17:50] Ghosty141 commented on #66
Yes, the 120Hz are enabled in the Windows desktop settings, as welll as in the nvidia control panel.

![rundll32_2018-04-22_19-46-26](https://user-images.githubusercontent.com/17564201/39098100-efe1698e-4665-11e8-9920-6733ae657294.png)

The problem only started when I got my new monitor, my previous monitor worked fine. The only "big" difference between them is that the Acer Predator x34p only sup

[2018-04-25 19:02] juvlarN commented on #56
[vibrance.GUI-2.3.1.0.zip](https://github.com/juvlarN/vibranceGUI/files/1948465/vibrance.GUI-2.3.1.0.zip)
Please try this version, there is a checkbox to disable any resolution change. When the checkbox is ticked, it should stop any resolution change from happening.

[2018-04-28 16:07] freaky1337 commented on #19
@daniele-salvagni Is this program VAC safe?

[2018-04-28 16:40] avaque commented on #19
@freaky1337 Unlike SweetFX this program doesnt change 3d vibrance but rather overall vibrance. Its just like applying a filter over your screen. Its completely VAC safe. Nvidia Freestyle has this same option but it will probably get disabled for CSGO soon and it lowers your FPS anyways, while Colorgoggles doesnt.

[2018-04-28 20:54] freaky1337 commented on #19
The program doesnt't do anything,and my anti-virus detected it.

[2018-04-28 20:56] avaque commented on #19
@freaky1337 so does everyone's antivirus. Have you followed the instructions to install it?

[2018-04-28 20:57] freaky1337 commented on #19
I did

[2018-04-28 21:05] freaky1337 commented on #19
My AV didn't detect VibranceGUI

[2018-04-28 21:13] avaque commented on #19
@freak1337 then use vibranceGUI man idk what to tell you if you worried about getting a virus from this just dont use it.

[2018-04-28 21:15] freaky1337 commented on #19
can't,cuz i have laptop

[2018-04-30 15:55] daniele-salvagni commented on #19
@freaky1337 Which antivirus are you using? I can't get a positive result on [any of them](https://www.virustotal.com/#/file/73c6109c754ae35fa9b49d382e7db477a44806b85952476a720e36151ebafa43/detection).
Anyway you should be able to add the file as an exception in your AV settings.

[2018-05-10 15:17] camjac251 commented on #66
Thank you for this fix @juvlarN

[2018-05-10 19:46] firxz opened #67 "still using 2 driver and run vibranceGUI"
hello my name is mike and i have an issue i use to differnt grafic cards one amd one nvidia and i use only the amd one for streaming and nivdia for as gaming but i cant use vibranceGUI anymore but is there a way to baypass this so i can still use it ore is there a version of it that cant detect grafic card drivers please help i need them both

[2018-05-15 16:59] incognico opened #68 "Does not work with Intel NUC and AMD Radeon Vega Graphics"
The new Intel NUC8I7 uses AMD Radeon Vega Graphics which comes with a Intel branded AMD Adrenaline driver GUI. Vibrance GUI does not seem to work here.

DxDiag: http://dpaste.com/1NR67JV

Driver: https://downloadcenter.intel.com/download/27723/NUCs-Radeon-Graphics-Driver-for-Intel-NUC-Kit-NUC8i7HNK-NUC8i7HVK?product=126143

[2018-05-15 17:29] juvlarN commented on #68
Try this https://github.com/juvlarN/vibranceGUI/issues/19#issuecomment-356444493

[2018-05-15 17:52] incognico commented on #68
That will only work for intel gpus not AMD ones. The Intel iGPU is permanently disabled on the NUC and only the AMD Vega is used.

[2018-05-15 18:51] juvlarN commented on #68
Elaborate on the "does not seem to work" then

[2018-05-15 18:53] incognico commented on #68
Hm, it does work it seems. It is a bit weird. The windows vibrance for example will only get applied after the program was closed. After reopening it and opening a defined app it did what it should.

I also noticed that my mouse pointer lags for like 5 seconds after opening the program.

[2018-05-15 18:53] #68 closed

[2018-05-19 17:47] eritongomez commented on #52
I have the same issue:
when I am playing Battlefield 1 and I press alt tab to do something out of the game and return to the game, the colors return to normal as if the vibrancegui was not running. The vibrancegui settings only reappear after restarting the pc:
Windows 10 build 1803
gtx 1070 driver 397.31

[2018-05-21 10:55] Keidaron opened #69 "Monitor Bug / Changes resolution and hertz"
Greetings

Well I got the problem that when I use VibranceGUI that my second monitor goes from 1280x1024 up to 1920x1080 and goes to 59 hertz.

It is really annoying.

How does it appear ?
1. Starting Vibrancegui
2. Clicking on the Left Monitor to open windows startmenu
3. problem appears

[2018-05-21 11:09] juvlarN commented on #69
Hi, please try this:

https://github.com/juvlarN/vibranceGUI/issues/56#issuecomment-384398934

Keidaron <notifications@github.com> schrieb am Mo. 21. Mai 2018 um 12:55:

[2018-05-21 11:25] Keidaron commented on #69
It helped thanks!

[2018-05-21 11:25] #69 closed

[2018-05-27 03:37] Besstheone commented on #64
Hi Juvlar,
I have the same problem with PUBG, and tried DDU and reset driver.
The only solution I found is to restart graphic driver each time (ctrl+shitf+win+b shortcut)
Can you please investigate.
PS: I tested with two drivers 397.93 and 397.96

[2018-05-30 11:58] juvlarN commented on #52
@eritongomez How do you return back to the game? Sometimes Windows does not fire the "Application-Context-Has-Changed"-Event when pressing on the icon in the Windows task bar. Try to Alt+Tab back into the game instead of clicking on the icon in your task bar and see if that helps. Does this only happen in fullscreen or also when you are in Windowed Fullscreen mode?

[2018-05-31 13:54] eritongomez commented on #52
@juvlarN Whatever. If i return with click or alt tab, the problem happens in two ways. And it also happens with full screen or windowed.
my "solution" at the moment is to ignore everything out of the game... :(

[2018-06-01 07:38] juvlarN commented on #52
@eritongomez it does work in other games though? I am not sure if this is actually a problem of vibranceGUI rather than a problem of BF1?

[2018-06-03 14:09] GnidaKid69 opened #70 "Reset settings"
Hello! I was using vibranceGUI about 1 week then I felt like colors were too saturated and wanted to turn it down games that I added weren't there anymore I tried to delete it completely but it didn't worked then I tried to add these games again and change settings but it didn't worked either. So now I want to get rid of this settings how to reset everything that VIbraceGUI changed?

[2018-06-03 14:10] juvlarN commented on #70
Navigate to folder %appdata%/vibranceGUI and delete applicationData.xml

[2018-06-04 16:54] basn opened #71 "whitebalance/vibrance not resetting"
After csgo i always get really bad whitebalance when running vibrancegui.
I am unsure when it came but with latest drivers 397.93 and win10 1803 i get this issue.
I have to either reboot or reinstall drivers to be able to look at white pages etc.

I am not sure what do troubleshoot, is there anything i can try?

[2018-06-04 18:20] juvlarN commented on #71
Have you tried a different driver version (older one that you used before)?

[2018-06-04 21:18] basn commented on #71
seems like its drivers related, i get the error if i do vibrance from the drivers also... so its not from this..

[2018-06-04 21:18] #71 closed

[2018-07-06 15:33] #70 closed

[2018-07-12 12:50] JesWhite opened #72 "vibranceGUI not opening"
i'm using windows 10 my laptop.
i know my laptop not supporting vibranceGUI...
but i want to only one function your app..
i  want screen resolution ingame...
if i want to join game my screen resolution to be 1024x768
if i want to quit from game my resolution is back to 1920x1080.
how can i do this?
and i saw your app is doing this but not opening.
if you are fix it i can do this.
thanks.

[2018-09-05 16:16] infinitekiwi opened #73 "Can't get it to open at all! Detecting 2 GPU drivers!"
"Both Nvidia and AMD graphic drivers have been found on your system."

I had an AMD card in this system once 3 years ago! I've been uninstall it but despite using DDU and AMD uninstall tool it still won't work. Admittedly with DDU I didn't disabled networking as it suggested instead I just booted into safe mode without networking and ran it then booted back normally with internet and allowed windo

[2018-09-05 18:54] juvlarN commented on #73
The program looks for "atiadlxx.dll"/"atiadlxy.dll" for amd and "nvapi.dll" for nvidia in your windows driver folder. There should be no false positive detection. Either you have the files for both nvidia and amd or not. DDU usually cleans up all the files. Not sure why it is not working for you. Try to manually remove/rename/move the wrong files out of your driver folder.

[2018-09-06 16:52] infinitekiwi commented on #73
I'm not sure why it didn't clean it up either. I couldn't find either of
those files in there but I did find this atiapfxx.blb and all these...
https://gyazo.com/e75cf85ac0dd8fb3938ebbdc92ca74a7 I'd imagine there was
more as I see a lot of amd64 folders.. really confused why DDU didn't clean
this up and I emailed them about it. I'm not sure exactly which I should
remove and if these files are what

[2018-09-06 17:03] juvlarN commented on #73
VibranceGUI is a x86 executable due to limitations of the GPU drivers. This means that you are not looking in the correct folder system32 is for x64 drivers. Search in folder syswow64, which is where x86 drivers are stored on a x64 windows OS.

[2018-09-19 14:56] partoftheworlD opened #74 "Sometimes after Windows restart, value of saturation in AMD driver is set to 0"
Sometimes after Windows restart, value of saturation in AMD driver is set to 0 and screen becomes black and white.

[2018-10-14 13:37] fasih12 commented on #51
![image](https://user-images.githubusercontent.com/44138043/46917388-24b0f180-cfe0-11e8-87f9-969e7a2fd0ba.png)
this occurs on my amd graphic card. my card is rx 550.

[2018-10-14 13:42] fasih12 commented on #51
I am running rx 550 AMD but the problem is occuring that vibrancegui is not opening.
Help me out please.

[2018-10-14 15:06] juvlarN commented on #51
There is no false positive detection for this.
You still have NVIDIA driver left over on your PC then.
Use [Display Driver Uninstaller](https://www.guru3d.com/files-details/display-driver-uninstaller-download.html) to remove the NVIDIA driver.

[2018-10-15 09:21] lesjj opened #75 "Freezes windows 10 on startup and maybe even more"
Hey,

Since a couple of weeks I'm having troubles in Windows 10 and Rainbow Six Siege. I'm already searching for a solution for a long time now and I discovered that at least Vibrancegui (2.3.1.0) is causing me windows 10 freezes (first freeze is on startup windows + vibrancegui on startup). Maybe it even gives me spikes in Rainbow Six Siege, I need to test this further out. Is this a well known b

[2018-10-15 13:51] fasih12 commented on #51
I don't have any NVIDIA drivers in my pc.
I just re installed my windows and this error occured other wise it is working on previous windows.

[2018-10-15 17:08] juvlarN commented on #51
have you installed your AMD driver...?

[2018-10-15 17:12] juvlarN commented on #75
Can you try the beta? http://vibrancegui.com/vibrance/beta
Btw, I'm not sure if the lag spikes you see are caused by vibranceGUI. The program itself is barely using any resources - you should notice the program running under any circumstances. VibranceGUI itself is just controlling your NVIDIA or AMD driver to add a post-processing effect to each displayed frame which your GPU offers. So vibranceG

[2018-10-15 17:34] fasih12 commented on #51
yes i installed it and it is running fine but the VibranceGUI is not working :/

[2018-10-15 17:41] juvlarN commented on #51
search for "atiadlxx.dll" and/or "atiadlxy.dll" in your Windows folder. If you do not have them, you have a corrupt driver installation (files are missing)

[2018-10-15 18:12] lesjj commented on #75
Hey,

But this is the same version as I already had? It also affects the alt-tabbing speed of games and freezing everything.

Met vriendelijke groet,

Lesley Hermsen

________________________________
Van: juvlarN <notifications@github.com>
Verzonden: Monday, October 15, 2018 7:12:58 PM
Aan: juvlarN/vibranceGUI
CC: lesjj; Author
Onderwerp: Re: [juvlarN/vibranceGUI] Freezes windows 10 on startup and

[2018-10-15 18:13] juvlarN commented on #75
Does this also happen when you have the default value for in-game/windows vibrance set? For example 50% for nvidia and 100% for amd?

[2018-10-15 18:37] fasih12 commented on #51
i have these files also. what can i do more after this?

[2018-10-15 18:37] fasih12 commented on #51
i have these files also. what can i do more after this?

[2018-10-15 18:58] juvlarN commented on #51
@fasih12
So I'm assuming you have a 64 bit Windows... and manually installed AMD drivers (not Windows 10 automated install).

You are sure you have this file: C:\Windows\SysWOW64\atiadlxy.dll or C:\Windows\SysWOW64\atiadlxx.dll
and you are also sure that you do not have this file C:\Windows\SysWOW64\nvapi.dll

Btw, which version are you trying? Have you tried the beta? http://vibrancegui.com/vibra

[2018-10-18 15:09] AaronmHardy commented on #75
What version/build of windows are you running?  I'm having trouble with some other applications running on Win10 Pro 1803 and 1809.

[2018-10-29 22:40] moltam99 commented on #75
Hello,

For me, starting VibranceGUI (2.3.0.3) causes massive lagspikes for about 5 seconds (mouse cursor teleporting).
I'm on Win 1809.
Happens when started manually, and in autostart as well.

Will try to update VibranceGUI and set different vibrance levels (Win 100, CS:GO 200, 18.10.1 Radeon SW), this is just to let you know that this happens to others aswell.

[2018-11-01 09:03] ozyemandias opened #76 "Changing the resolution failed: disp change bad mode"
Every time I alt tab of a full screen this pops up. I’m using a single monitor with discord and steam open

[2018-11-01 11:03] ozyemandias commented on #76
I’ll try the new beta thanks

[2018-11-13 16:58] juvlarN commented on #58
this does not happen when vibrancegui is closed?

[2018-11-14 11:04] ozyemandias commented on #76
Hello, it’s me again, I forgot to close the issue. sorry. If I use full screen optimisations how can I utilise the Vibrance level? it does not change due to CSGO being a mix between full screen and borderless.

[2018-11-14 11:05] ozyemandias commented on #76
Nvm it worked after I changed scaling to display

[2018-11-14 11:05] #76 closed

[2018-11-14 22:53] divmonkey commented on #58
Followed these steps, didn't help. But I resolved it by reinstalling NVIDIA driver.

[2018-11-15 15:46] NicoOsu commented on #35
@juvlarN Hey, I know im pretty late but I hope it may helps you. I done the step by step tutorial you wrote and it worked. After the rename of the .xml file I started VibranceGUI and added CsGo manually. After that I started CsGo and it worked. So for a test, I tabbed out and in and then the vibrance got resetted. I uploaded the old file that I renamed. btw thanks for the help :)
[mimi.zip](https:

[2018-12-07 17:59] fragtion commented on #8
This app is basically perfect. But I'd love to be able to control gamma for specific apps as well (more gamma in csgo). Do we still face the same NVAPI limitations today?

[2018-12-10 19:21] juvlarN commented on #72
There might be other tools like "hotkey resolution changer". If you google for that, you will find a few options you can choose from. Good luck

[2018-12-10 19:23] juvlarN commented on #75
Any updates on this issue? Windows has been revoking a few of their updates recently, so it might be that Windows is the root cause of this problem. Can anyone pinpoint it down to vibranceGUI? If so, please let me know how to reproduce.

[2018-12-10 19:24] juvlarN commented on #54
Just keep the program minimized, running in the background.

[2018-12-24 01:46] brandons101 commented on #19
I'm on my desktop and I don't have a igfxDHLib.dll what should I do?

[2018-12-24 02:05] Dreamer707 commented on #19
Oh sounds serious, what is that?

Am Mo., 24. Dez. 2018 02:46 hat brandons101 <notifications@github.com>
geschrieben:

[2018-12-28 03:05] caspertheghost1337 opened #77 "Screen Resolution Not Changing Back to Default After Closing Game"
Hey. I love your program and I use it all the time, but recently I have started using different resolutions, and I set it in the game to be a certain resolution using VibranceGUi. I believe it is supposed to change my resolution back to 1920x1080 after closing the game? But it doesn't. It just stays at the custom resolution that I set it to in the VibranceGUI app. Any help would be appreciated. Th

[2018-12-28 23:13] caspertheghost1337 commented on #77
Nope, I do not have a multi-monitor setup. I just tested auto switching resolutions in Spotify and it worked. It changed it to the specified resolution, and after tabbing out, it changed it back.

[2018-12-28 23:36] caspertheghost1337 commented on #77
I just found out what was wrong. I noticed a pattern in the resolution not changing. Every time the game's Digital Vibrance was at 100% the resolution wouldn't change back but for some reason now, it won't even change to the resolution. I changed the Digital Vibrance to 99% and the resolution changes both ways now when tabbing out.

[2018-12-28 23:36] caspertheghost1337 commented on #77
Accidentally closed it

[2018-12-28 23:40] juv commented on #77
Are you using identical windows vibrance and in-game vibrance value?

caspertheghost1337 <notifications@github.com> schrieb am Sa. 29. Dez. 2018
um 00:36:

[2018-12-28 23:46] caspertheghost1337 commented on #77
Yes I am. Is that the problem?

[2018-12-28 23:48] juv commented on #77
Why'd you do it in the first place and yes that might be the problem, you
gotta try it out though. Set windows to something lower than 100%, e.g. 99%
(you will barely see a difference anyways) and try it out please

caspertheghost1337 <notifications@github.com> schrieb am Sa. 29. Dez. 2018
um 00:46:

[2018-12-28 23:53] caspertheghost1337 commented on #77
I don't know, I just like Windows with 100% and I tried your suggestion, and it works with Fortnite, but CS:GO is just now launching and staying in the background.

[2018-12-30 20:00] caspertheghost1337 commented on #77
Found the solution for CS:GO. I had to add "-w 1280 -h 960 -windowed -noborder" to my launch options.

[2018-12-30 20:00] #77 closed

[2019-01-07 19:37] juv commented on #35
This should be fixed in the recent versions. Please reopen if it is not fixed.

[2019-01-07 19:37] #35 closed

[2019-01-07 19:41] juv commented on #36
@axel37 this error message has been removed since a few versions already. Has the issue with color changes changed for you in the new version?

[2019-01-07 19:41] #52 closed

[2019-01-07 19:42] juv commented on #56
This is fixed

[2019-01-07 19:42] #56 closed

[2019-01-07 19:44] juv commented on #55
@mritunjaymusale @Shrenade514 can you try out the latest version on the [website](https://vibrancegui.com) and use the checkbox "Never change resolutions" and see if that helps?

[2019-01-07 19:45] juv commented on #58
Closing this as no info on how to reproduce is given. If it happens again, open this issue again and tell me how to reproduce if possible please. Also remember to update to the latest version before trying.

[2019-01-07 19:45] #58 closed

[2019-01-07 19:46] juv commented on #60
@DetectiveSquirrel any update?

[2019-01-07 19:47] juv commented on #61
Closing this, seems to be fixed. Reopen if necessary. Remember to update vibranceGUI if you are running an old version.

[2019-01-07 19:47] #61 closed

[2019-01-07 19:48] juv commented on #63
This should be fixed

[2019-01-07 19:48] #63 closed

[2019-01-07 19:49] juv commented on #64
@Besstheone any update? Did NVIDIA fix this?

[2019-01-07 19:49] #72 closed

[2019-01-07 19:51] juv commented on #75
Bump

[2019-01-07 19:54] juv commented on #74
@partoftheworlD when this happens again, can you please go into the folder %appdata%\vibranceGUI and upload vibranceGUI.ini and applicationData.xml here?

[2019-01-07 19:57] juv commented on #67
There is no way to bypass this unfortunately. This happens because you have both NVIDIA API dll files (nvapi.dll) as well as AMD API dll files (atiadlxx.dll and atiadlxy.dll) in your Windows driver folders (System32/SysWOW64). You could try to rename the amd api dll files and see if everything else still works as expected. I am not sure if you need the amd api dll files for your streaming program

[2019-01-07 20:04] juv commented on #67
This is a version that only checks for **NVIDIA** and does not care if both NVIDIA and AMD drivers are present.
[vibranceGUI_nvidia_only.zip](https://github.com/juv/vibranceGUI/files/2734133/vibranceGUI_nvidia_only.zip)

This is a version that only checks for **AMD** and does not care if both NVIDIA and AMD drivers are present.
[vibranceGUI_amd_only.zip](https://github.com/juv/vibranceGUI/files/27

[2019-01-07 20:31] moltam99 commented on #75
Sorry might have worded it wrong, alt tabbing is very slow in cs:go WITHOUT vibrance gui (i use 4:3 stretched, it is a known limitation), so I can't tell if VibranceGUI is making it any slower.

[2019-01-07 21:52] Besstheone commented on #64
Hello,
Yep Fixed with a driver.
Thx for asking :)

On Mon, Jan 7, 2019 at 8:49 PM juv <notifications@github.com> wrote:

--

Cordialement,
Ahmed BESSAIDI

[2019-01-07 22:00] #64 closed

[2019-01-08 08:14] partoftheworlD commented on #74
Sure

[2019-01-10 03:37] eejaehee opened #78 "vibrancegui affecting computer"
i have a brand new computer that is currently going through some issues ever since i downloaded vibrancegui. I started having really bad lag after I opened it and still persists even after I close it. The color wouldn't appear when the app was open, but it appears once it is closed along with severe lag spikes that affects everything else like discord, game, and etc. Now I have some delay on my co

[2019-01-13 10:47] juv commented on #78
Sounds like something weird is going on with your GPU drivers. Notice that vibranceGUI is not doing anything on its own itself, it just instructs your GPU driver to add the color to every image that is being output to your monitor. How, and when, the color is added is up to the driver. VibranceGUI itself is actually a really resource friendly application, barely using any CPU usage itself. You sho

[2019-01-14 13:31] Shrenade514 commented on #55
@juv I will try that as soon as I find time.

I have found 2 other details since then, turning my monitor on and off will reset the contrast to it's original state.

My monitor is overclocked, but I don't think that is causing the issue.

One thing that may be causing it is that I am using a .icm colour profile with my monitor, which vibrance.gui and CS:GO might be interacting weirdly with.

[2019-01-29 02:43] ghost opened #79 "Can not change resolution or refresh rate while VibranceGUI running background"
Can not change resolution or refresh rate while VibranceGUI running background
When I close it, it becomes normal.

[2019-03-27 08:55] wurzelpanzer opened #80 "Errors when login through RDP"
When connecting through RDP to my machine and vibranceGUI is in autostart it throws an error. See screenshot.
[Error System.OutOfMemoryException](https://i.imgur.com/n0OIhD5.png)

[2019-04-02 17:02] juv commented on #8
@fragtion still has not changed, just double checked for the latest version (r410)

[2019-04-14 16:36] PINPAL commented on #79
Also having the same issue, hopefully we can get some sort of toggle that prevents it from changing resolution?

[2019-05-03 17:39] juv commented on #80
This might be related to drivers not being properly initialized or the driver temporary disables features. The exception could be catched but I'm afraid the cause of this is out of vibranceGUIs control

[2019-05-04 11:18] juv commented on #78
@eejaehee has this been fixed by reinstalling drivers?

[2019-05-05 15:51] ncarmic4 opened #81 "VibranceGUI Starts Properly on Startup then Reverts Settings"
Every time I turn on my PC VibranceGUI starts properly and applies my digital vibrance settings, then about 2-3 seconds later it reverts the settings, and VibranceGUI is still open. I have to open the program from the taskbar icons and close it to apply the settings again.

Happened on my old PC and new PC

Old PC: i5 6500, AMD r9 390

New PC: i7 8700k, NVIDIA RTX 2060

[2019-05-05 15:56] juv commented on #81
Which version are you using?

[2019-05-05 16:09] juv commented on #81
Wait, you are setting the vibrance value manually in your driver? Obviously that will not work as vibranceGUI overrides the setting and sets either your windows vibrance value or, well, the in-game vibrance value you chose.

[2019-05-05 16:13] ncarmic4 commented on #81
Version should be latest release at the date of March 20th, will be able to double check later today when I get back to my PC.

And I believe I did set the saturation on the AMD drivers in my old PC but definitely did not on my new PC. Will also double check this later today.

[2019-05-05 16:18] juv commented on #81
Can you also try to close vibranceGUI, then navigate to the folder %appdata%\vibranceGUI and rename the applicationData.xml and to vibranceGUI.ini something else? Then restart the program and see if it still happens? This will reset your configuration settings entirely.

[2019-05-05 22:31] ncarmic4 commented on #81
Version is 2.3.1.1

I renamed the config files and reopened VibranceGUI to let it generate new ones and the problem persisted. Also removed config folder and redownloaded the latest binary (I believe still 2.3.1.1) and it didn't help.

One thing I noticed on the fresh install was when I set windows vibrance to 100% and restarted PC, the digital vibrance setting was applied then reverted before, an

[2019-05-17 17:29] numerox opened #82 "Vibrance gui changes stretched to black bars when press windows key"
Hi i have a problem when i reinstalled windows,i set 1280x960 resolution in windows and change to 144hz and its stretched,Then i open vibrance gui and run cs go, everything is fine but when i press windows key and back to cs go the game is with black bars, not stretched. any fix?

[2019-07-21 15:14] daniele-salvagni commented on #19
Sorry for the delay @brandons101, if you are using the new DCH drivers, you should try following these instructions: https://github.com/daniele-salvagni/color-goggles/issues/16#issuecomment-513561967

[2019-09-08 11:55] kennykentaur opened #83 "Ability to set Windows vibrance level below 50%"
I use a lower level than the default 50% digital vibrance in Windows, so whenever I've played a game I have to manually decrease it since vibranceGUIs settings only allow it at minimum 50%.

I tried to edit the vibranceGUI.ini and setting it to a negative value, but it didn't work.
Is this possible to implement?

[2019-09-10 20:34] juv commented on #83
Hi, this is a duplicate issue of https://github.com/juv/vibranceGUI/issues/62. Unfortunately, this is still not possible to do for external developers. Nvidia chose to not let developers go below 50% when using the driver API for some reason. Because of the entire lack of communication from NVIDIA concerning the NVAPI, this issue can not be solved.

[2019-09-10 20:34] #83 closed

[2019-09-13 03:04] BennyAlex opened #84 "[Feature Request] Add Brightness Slider"
Hey, first of all, thanks for the nice tool.

I would like to see a brightness slider, for each game and desktop, too.

For my desktop, I only use a brightness of 40%, but for games I want it to have it at 50%+.

I think it would be easy too add, because it should use the same API as the vibrance (at least for Nvidia).

Thanks.

[2019-09-13 15:36] juv commented on #84
Hi, this is a duplicate of https://github.com/juv/vibranceGUI/issues/8

I have recently rechecked if this is possible but the API has not changed since ages and unfortunately this is still a NDA-driver-only option. NVIDIA never contacted me, as stated in the other issue, so I'm afraid we will not be able to see this feature any time soon.

[2019-09-13 15:36] #84 closed

[2019-09-14 07:05] BennyAlex commented on #84
Oh okay this is really frustrating. I trust you when you say, thats not possible but I really wonder, that you can set Vibrance withhin the API but anything else dont...

And I also hate Nvidia for the control panel, You can set so many stuff for each game, like Anit Alisign and so on but not the Vibrance and Brightness.

Thanks for your work.

[2019-09-14 15:26] BennyAlex commented on #54
@nvhhr You can use the minimize button, the left one of the three buttons

[2019-10-11 23:57] Homiephobia opened #85 "Locking mouse to primary monitor while Game window active"
Would you consider adding a feature which locks the cursor to primary screen while selected game is active.
I have this problem where I flick too fast while shooting and my cursor ends up on the other monitor, this causes the game to minimize.
I know there are third party apps for doing just that but I'd much rather see the functionality in something I already use.

[2019-11-16 15:00] meta-Lord commented on #19
While looking online I found several articles saying that digital vibrance and saturation are different things. It said that digital vibrance will not saturate darker colors and will only saturate lighter colors, while the saturation option will saturate all colors making dark colors extremely dark. If this is true is there any way to get around the saturation bumping up dark colors.

[2019-12-05 00:09] rickgoemans opened #86 "Windows 10 Update 1909 breaks it"
I've just recently updated my Windows 10 to version 1909 and now it no longer works in any game.

Anybody else having the same problem?

I've tried:
- bordless windowed mode and fullscreen mode in PUBG, CSGO, Call of Duty MW
- re-adding the games
- running as administrator
- fresh download
- reboot
- clean nvidia driver install

Any suggestions?

[2019-12-06 00:40] juv commented on #86
Hi, can you try to use "display driver uninstaller" to get rid of your
nvidia driver entirely? There might be corrupted left overs in your
installation. Uninstalling and reinstalling afterwards won't fix this
issues. Nvidia has not managed to fix this problem in a couple of years ago
using that tool and reinstalling afterwards might actually help.

Rick Goemans <notifications@github.com> schrieb a

[2019-12-06 08:11] #86 closed

[2019-12-06 09:12] rickgoemans commented on #86
Hey @juv, I've already tried DDU, it didn't work.

Last night I fully reinstalled my pc (format disk and fresh install from USB with a Windows 10 1909 image) and I tested it with just PUBG and it worked fine.

Seems like something went wrong during the Windows update process.

[2019-12-07 00:28] rickgoemans commented on #86
Yeah I've tried it with a couple of games now and they all work perfectly so I can confirm this is hasty issue report because of a bad Windows update.

[2020-01-24 14:52] KingoftheWildHunt commented on #8
Still not possible?

[2020-01-30 18:29] Horex commented on #8
@juv

Hmm this is interesting: https://devtalk.nvidia.com/default/topic/1057935/nvapi/nvapi-nda-request/ Nvidia says that their control panel uses MSFT API directly.

Tried this app: https://github.com/cmdf/extra-gamma

Seems to work, but I need to unplug one of the monitors. I believe that first parameter in the SetDeviceGammaRamp function from ms api needs to point to correct monitor.

Ok, I fou

[2020-01-31 23:04] Amoxap1ne opened #87 "Is possible to modify the value of VibranceGUI from 0% to 100%?"

[2020-01-31 23:08] Amoxap1ne commented on #87
instead of from 50% from 100%

[2020-02-01 17:00] juv commented on #8
@Horex

[SetDeviceGammaRamp](https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-setdevicegammaramp), [SetMonitorBrightness](https://docs.microsoft.com/en-us/windows/win32/api/highlevelmonitorconfigurationapi/nf-highlevelmonitorconfigurationapi-setmonitorbrightness) and the other high level monitor configuration functions provided by Microsofts API are not really what is of interes

[2020-02-01 17:03] juv commented on #87
Unfortunately not, see https://github.com/juv/vibranceGUI/issues/62

[2020-02-01 17:03] #87 closed

[2020-02-01 22:51] Horex commented on #8
@juv

Hmm, SetMonitorBrightness seems to change monitor settings. So this is not what we want.

This app was made back in 2002: https://www.majorgeeks.com/files/details/gamma_panel.html
It seems to work exactly as nvidia control panel, including Brightness, Contrast, and Gamma. This app can also change those settings per color channel. It does not change any of my monitor settings.

Now the questi

[2020-02-02 13:01] Horex commented on #8
I created helper class in attachment to fiddle around with.

Example usage:
[code]
[SetDeviceGammaRampHelper.txt](https://github.com/juv/vibranceGUI/files/4144180/SetDeviceGammaRampHelper.txt)

It seems that NVIDIA is using slightly different scale for brightness and contrast.
We would need to get nvidia's math for calculating SetDeviceGammaRamp values. If we want to match it.
Not sure if we actua

[2020-02-19 18:59] fasih12 commented on #51
![Screenshot (30)](https://user-images.githubusercontent.com/44138043/74865934-c33b2880-5373-11ea-913a-73606fc81183.png)
Help me out please as I am facing the problem since iIhave this gpu.

[2020-02-19 19:00] fasih12 commented on #51
@juv help me please

[2020-02-19 19:04] fasih12 opened #88 "Failed to determine Graphic Graphic Adapter Type"
![Screenshot (30)](https://user-images.githubusercontent.com/44138043/74866331-86236600-5374-11ea-8968-315e86e300f8.png)

[2020-02-19 19:10] juv commented on #51
I don't know. Install your gpu driver properly. The answer above is the only one I can give.

[2020-02-19 19:12] fasih12 commented on #88
@juv

[2020-02-19 19:20] fasih12 commented on #51
its correctly installed already

[2020-02-19 19:28] juv commented on #51
Do a uninstall with Display Driver Uninstaller and install fresh from AMD website. There is not more you can do.

[2020-03-15 01:29] kylemathias opened #89 "Allow Lower then 50% Windows Vibrance Level"
The monitor I have for my PC I also use for my Xbox. The monitor I use has a built digital vibrance setting that I have set at 75%. I can compensate this in windows with setting the vibrance to 25%. It would be useful for me if VibraneGUI allowed a "Windows Vibrance Level" of anything between 0% to 100%. This isn't really an issue, but more of a feature request.

Thank you for your time.

[2020-03-24 23:31] Chillkroete42 opened #90 "Vibrance in CSGO lower when not using vibranceGUI"
Hi Juv,

I realised that the GUI did not work anymore which seems to be a problem of CS:GO. I dont why but when I close vibranceGUI CS is almost black/white. When I start the GUI again, everything is fine (which means it is standard) but without GUI CS will be like almost black and white. What I already tried to fix it:

- closed vibranceGUI, deleted all registry entries, removed all files (includ

[2020-03-26 22:44] juv commented on #90
Uhm that is weird. When you uninstall with DDU, no driver files should be
left over. Vibrancegui only interacts with the API of the driver at runtime
so there should be no interference at all and no permanent left overs. Have
you made the driver changes to the digital vibrance settings in your Nvidia
control panel manually (without vibrancegui running)? 50% is the default
value, 100% max. Cs is gr

[2020-03-26 22:46] juv commented on #89
Hi, unfortunately this is not possible as the Nvidia driver API limits the
values in a range from 50% to 100% - even though the Nvidia control panel
itself can go lower than 50%.

Kyle Mathias <notifications@github.com> schrieb am So. 15. März 2020 um
02:29:

[2020-03-28 14:23] Chillkroete42 commented on #90
Okay, I think it was my fault. I tested it again and it seems that CS looks is the same when putting vibrance on 100% in GeForce Driver on Windows or when using vibranceGUI(on Windows 50% and CS on 100%). But I could swear that CS wasnt so greyish before, but maybe I was so used to the vibrance adjustments...
Nevertheless, thanks a lot for your support and sorry for wasting your time ;-)

[2020-03-28 14:23] #90 closed

[2020-04-13 16:52] kom420 opened #91 "Vibrancegui just stopped working."
I was using vibrancegui just fine but then it stopped working not affecting the colors of the desktop nor in game and was wondering if you could help. Started searching for it but nothing has worked out yet.

[2020-04-13 16:57] juv commented on #91
Did you change your gpu driver?

kom420 <notifications@github.com> schrieb am Mo. 13. Apr. 2020 um 18:52:

[2020-04-13 17:09] kom420 commented on #91
I did uninstall my drivers with DDU and reinstalled some fresh ones but that didnt help . My rig is old but doubt thats the case cause ive been using VibranceGUI for sometime now but it randomly stopped. Does a hell of a job on Riots new game Valorant btw!!

[2020-04-13 19:01] juv commented on #91
Yes that should help. If it's not helping, you should explain your error in
more detail. When did it stop working, what did you change in your system
before it stopped working. DDU + reboot + install gpu driver + reboot
should help indeed, it's weird that you say it is not. Which gpu do you
have?

kom420 <notifications@github.com> schrieb am Mo. 13. Apr. 2020 um 19:10:

[2020-04-13 19:15] kom420 commented on #91
I didnt actually change anything its just stopped working i was using it just fine and then i opened it couple days ago and it didnt affect even i put it to 0 or 300 it was the same for desktop and in-games . I have an HD series 7700 . "DDU + reboot + install gpu driver + reboot" thats what i tried at first but didnt work and then googled my problem but didnt find anything about it so i came here

[2020-04-13 19:56] juv commented on #91
I see. We had some reports that the latest amd drivers do not include the
necessary amd api files. People went back to some previous gpu driver
versions and made sure they did not install some kind of performance
version of the drivers. Unfortunately i never had an amd gpu so i hope we
can figure this out

kom420 <notifications@github.com> schrieb am Mo. 13. Apr. 2020 um 21:16:

[2020-04-13 20:20] kom420 commented on #91
Its just so weird to randomly stop working and even after the new drivers to keep doing the same thing . Well if it doesnt get fixed its alright its just a big rip cause that program is game changing.

[2020-04-13 21:43] kom420 commented on #91
Just a quick update i tried reinstalling the drivers , it did work but it didnt as well. The program now applies the vibrance only after i close it .

[2020-04-14 06:38] juv commented on #91
Sounds like you have not properly set in-game and windows vibrance levels?
Windows level is typically left at default (100 for amd) and in game is set
for each application, but typically higher than 100 to even see a difference

kom420 <notifications@github.com> schrieb am Mo. 13. Apr. 2020 um 23:43:

[2020-04-14 17:04] #19 closed

[2020-04-25 15:38] aidendeom commented on #91
Hi, I'm having similar issues with an Nvidia GPU. If I modify the "Windows Vibrance Level" slider, the changes are only applied after I close VibranceGUI or if I double click a program settings button.

Additionally, the program specific settings are no longer applied when that program gains focus.

[2020-04-27 19:38] jabra98 opened #92 "compilation error"
Hello, I tried to build the project and downloaded the C# workload from the VS installer but I'm getting this error when trying to build the project:
[code]
Does anyone know how to fix that? I've never used C# before

[2020-04-29 11:31] i-need-to-tell-you-something commented on #21
I don't know anything about this topic, but apparently there is now a project for similar functionality on Linux: https://github.com/zee-mzha/vibrantLinux

[2020-05-03 20:06] juv commented on #92
Hi,

googling the error message shows a lot of possible solutions regarding some Visual Studio problem. Have you fixed it?

[2020-05-11 21:45] mtoloto opened #93 "2 GPUS problem"
Hello,

I have a GTX 770 and a RADEON 7870 pluged on my pc.

The 770 I use to play games and as a main gpu, the 7870 I use as a dedicated encoder to stream... but I cant open vibranceGUI because it gives me this error:

"Both NVIDIA and AMD graphic drivers have been found on your system. This can happen when you recently switched your graphic card and did not uninstall the old drivers. Make sure t

[2020-05-14 01:28] #92 closed

[2020-05-16 14:07] #80 closed

[2020-05-16 14:09] juv commented on #88
This was happening to some other people when the installed AMD drivers were corrupt or not properly installed. Some library files for the AMD driver are missing in those cases, which will end up in the error you see. Have you followed the instructions in the error message?

[2020-05-16 14:09] juv commented on #85
This is out of the scope from vibranceGUI

[2020-05-16 14:09] #85 closed

[2020-05-16 14:12] juv commented on #82
If you are not using the "Change ingame resolution" option for CSGO.exe in vibranceGUI, then vibranceGUI is not controlling the resolution settings of your pc. Please give some more detailed information on how to reproduce this. What are your CSGO.exe settings in vibranceGUI?

[2020-05-16 14:12] #78 closed

[2020-05-16 14:12] #54 closed

[2020-05-16 14:13] juv commented on #93
Maybe you can try out this for the time being: https://github.com/juv/vibranceGUI/issues/67#issuecomment-452063846

[2020-05-16 14:13] #74 closed

[2020-05-16 14:14] juv commented on #79
There is a "never change resolutions" checkbox in the recent versions

[2020-05-16 14:14] #79 closed

[2020-05-26 14:15] falahati commented on #8
Hey,

I am the developer of the [HeliosDisplayManagement](https://github.com/falahati/HeliosDisplayManagement) project and I was going to add the `SetDeviceGammaRamp()` function to my [WindowsDisplayAPI](https://github.com/falahati/WindowsDisplayAPI) library and since it is hard for users to work with this function I have decided to write a method to calculate the DAC lookup table (gamma ramp) tha

[2020-05-26 20:04] madavemger opened #94 "Connect laptop to extended monitor"
When u connect ur laptop to extended monitor u cant increase saturation and vibrance in extended monitor this option i tell u will fix ur problem

To answer your question:
1. Click on Start.

2. Search for 'regedit.exe' and run the application.

3. Click on 'Edit' -> 'Find'.

4. Type in XVYCCFeatureEnable (Note: This is key sensitive) and hit Enter.

The default location for this key should be: [H

[2020-06-27 18:31] TheBliTzzzzzz opened #95 "Vibrance still applied after CSGO exit, as well as with frequent alt-tabbing."
I have VibranceGUI 2.3.1.1 set to 70% Vibrance for CSGO.exe only, and have it at 50% in the Windows Vibrance levels. However, I often face an issue whereby the vibrance is not removed after exiting CSGO, and stays at the CSGO.exe's 70% Vibrance. This also happens when I shift-tab and press my second monitor to go to my desktop (since I have alt-tab & win key disabled for obvious reasons), where th

[2020-07-07 18:40] juv commented on #95
@TheBliTzzzzzz is it only happening when you have a second monitor attached to your pc?

[2020-07-07 18:42] juv commented on #94
Hi, thanks for the report! I'm sure people will find this issue via Google.
I'll go ahead and close this as it is not really an "issue".

[2020-07-07 18:42] #94 closed

[2020-07-07 18:43] juv commented on #93
@mtoloto have you tried the builds in that link above?

[2020-07-07 18:49] juv commented on #91
@aidendeom I have just tried it with 2.3.1.1 on NVIDIA.
It's working as expected for me:
1) Windows vibrance level is at 50% (default)
2) I change the Windows vibrance level slider to 75%, color is not affected until another process gets focus
3) When I tab into another process, the 75% is now applied. The color is also changed if I double click on an application icon in vibranceGUI (which opens t

[2020-07-07 18:50] TheBliTzzzzzz commented on #95
@juv I have not checked without my second monitor attatched. Should I try that?

[2020-07-07 18:50] juv commented on #89
Closing this as unfixable until the NVIDIA driver API changes. Seeing that the API has not changed significantly in a few years now, this is unlikely to happen anytime soon, sorry

[2020-07-07 18:50] #89 closed

[2020-07-07 18:51] juv commented on #88
@fasih12 any update? Have you reinstalled AMD drivers to see if that was the problem or if you have disabled any AMD driver component while installation?

[2020-07-07 18:51] juv commented on #82
@numerox any update?

[2020-07-07 18:53] juv commented on #95
@TheBliTzzzzzz yes, please give it a try just so we can try to pin down the problem a bit more

[2020-07-07 20:39] aidendeom commented on #91
I tried what you said with Chrome, and it is indeed working as expected. I will need to try again with a fullscreen application to see if I can better describe what is not working.

[2020-07-08 09:25] TheBliTzzzzzz commented on #95
@juv Is the expected behaviour of using the vibrance with a specific program to display the vibrance as long as the process is running, regardless of whether you are actually "using" (focused?) the program or not? If so, that would change the second part of my issue, as the vibrance still being there while on the desktop is correct, since CSGO.exe is still open, just not full-screened. Instead, th

[2020-07-09 11:35] fasih12 commented on #88
yes just update the windows and this problem will fix.

[2020-07-09 11:35] #88 closed

[2020-07-16 14:11] connect192168 opened #96 "System.OutofMemoryException: Exception of type"
I'm running a nvidia GeForce 940MX and Intel integrated graphics 630.
Priority is globally set to the nvidia card via the nvidia control center.

I downloaded the application 10 minutes ago.
I run it and this error shows up after about a minute:
![image](https://user-images.githubusercontent.com/38689351/87681487-9d754c80-c776-11ea-8ae4-d45798ce97d3.png)

[2020-07-16 15:36] juv commented on #96
Yes, I could definitely catch that exception in a newer version, however you shouldn't download + run an application when the website says that your device (nvidia laptop) is not supported :)

[2020-07-16 15:36] #96 closed

[2020-07-24 15:34] njanadesign commented on #19
when I use Color-Goggles, my FPS drops on csgo :(

[2020-07-24 20:09] daniele-salvagni commented on #19
This is not possible, you can even close Color-Goggles after changing the saturation because it will not be doing anything at all. If your FPS are dropping there is another reason.

[2020-07-28 10:21] juv commented on #95
@TheBliTzzzzzz I'm not having the setup to test this thoroughly at the moment, but there is a slight chance that vibranceGUI is not registering Windows events where you restore a minimized application back to the active state. Apparently Windows handles a special case where minimized applications are restored to be the new foreground window.
Right now, [vibranceGUI handles](https://github.com/juv/

[2020-07-28 13:35] TheBliTzzzzzz commented on #95
@juv Interesting, thanks for having a look into this.

[2020-08-27 16:38] Tarkinn opened #97 "Error when launching vibrance with csgo "systemoutofmemory""
So i just installed vibrance cause nvidia is not supported anymore due to the last vac update regarding .dll.
But when i launch it it gives me this error with the total inability to click on any button of VibranceGui window except for the resolution.
For translation ''à'' means ''to''
And it is written "an exception of  type 'Systemoutofmemory' has been found/raised.
![ViBug](https://user-images.g

[2020-08-27 17:46] juv commented on #97
This happens when you either have
1) a nvidia laptop, which is not supported as stated on the website
2) a corrupted nvidia gpu driver installation. if this is the case, uninstall nvidia driver and install it again.

[2020-08-28 08:56] Tarkinn commented on #97
Oh i'm sorry i wasted your time. I indeed have a Nvidia Laptop. I did not
read what was in the website, only the steam page and readme.txt my bad.
Have a good day

Le jeu. 27 août 2020 à 19:46, juv <notifications@github.com> a écrit :

[2020-08-28 10:40] #97 closed

[2020-10-14 18:22] tanjilk commented on #21
its hard to install it, i just want to have an high saturation in-game specially on csgo

[2020-11-16 04:39] akej111 opened #98 "VibranceGUI manually reseting my monitor refresh rate down"
Currently having an issue with Valorant

Steps that happen

1. Open up Valorant (full screen, non-native res), everything working as expected
2. Alt-tab out of the game
3. Monitor's refresh rate gets set down to 60 hz instead of the original 165
4. Open windows settings, change back to 165hz, works for a second in the preview and click confirm changes.
5. After changes gets confirmed, screen goes

[2020-12-10 15:10] Elmegaard opened #99 "Does not detect exit in some games"
I have been using this fine application for many years for CSGO. I have recently started using it for other games as well, some of which does not detect the shutdown of the game and keeps the vibrance set after I exit.

I am not sure if it would be possible to just search through running processes and look for the process in question and reset the vibrance as if the game was exited if the process

[2020-12-10 15:12] #99 closed

[2020-12-10 15:13] Elmegaard commented on #99
Never mind this, it does detect it my settings were messed up.

[2020-12-14 18:36] Kretisy commented on #19
Im on a desktop with intel UHD 630 graphics and i cant find igfxDHLib.dll what should i do?

[2020-12-16 05:27] ImOnMars commented on #95
I seem to be having this issue too: when I alt tab in and out of CS over time, it seems to sometimes get out of sync and I'll have to alt tab out and back into the game a second time to restore the vibrance.

[2020-12-19 13:44] DavidCorral94 commented on #98
I would like to report the same problem.

My main monitor is 144 hz and, with VibranceGUI opened, it restarts my nvidia configuration to 60 hz, no matter how many times I change it.

I'm using latest Nvidia drivers nowadays and  VibranceGUI 2.3.1.1.

[2020-12-24 16:07] juv commented on #95
@TheBliTzzzzzz @ImOnMars can you take a look at this release and see if the problem is fixed?

[vibrance.GUI-2.4.0.0.zip](https://github.com/juv/vibranceGUI/files/5740110/vibrance.GUI-2.4.0.0.zip)

[2020-12-24 16:09] juv commented on #98
Does this also happen when you select the "Never change resolutions" checkbox?

[2020-12-24 16:27] TheBliTzzzzzz commented on #95
@juv I'll take a look now.

[2020-12-24 16:52] #93 closed

[2020-12-24 16:53] juv commented on #91
@kom420 @aidendeom any update?

[2020-12-24 16:53] #82 closed

[2020-12-24 17:13] TheBliTzzzzzz commented on #95
@juv I've been running around for about half an hour and I'm yet to fool it, seems to be working much better. Also did the same with the old version, and it immediately had problems. However, this new version has been fine, whether I'm alt-tabbing, clicking onto my second monitor, or using the Windows key. It also _seems_ as though the "Affect Primary Monitor Only" is working better too compared t

[2020-12-24 18:29] ImOnMars commented on #95
@juv @TheBliTzzzzzz I haven't tested it yet, might be a little while before I have the chance, but the changes you noticed sound promising, as I've had this issue occurring for years on varying hardware, after Windows, game, and VibranceGUI reinstalls, etc. so it seemed like behavior that should be affecting all/most users.

[2020-12-25 09:17] juv commented on #95
@TheBliTzzzzzz thanks for trying it out!
I'm waiting for @ImOnMars to comment on this as well and then I'll push this as the new beta release on the website and see if someone complains on twitter

[2020-12-25 17:06] juv commented on #8
@Horex I can't reproduce your observation that the Nvidia Control Panel is changing the values returned by `GetDeviceGammaRamp()`. Are there any extra steps you have taken?

When trying to reproduce it, I have basically added some quick-n-dirty code inside of the `MonitorEnumProc` method:

[code]
Then I started the application, ran the code with default values in Nvidia Control Panel applied, then

[2020-12-25 17:11] falahati commented on #8
NVCP does use `GetDeviceGammaRamp()` in my tests as well.
Try using `SetDeviceGammaRamp()` to override it and see if it resets the NVCP settings applied on your monitor. Sometimes native methods related to stuff like this act crazy.

[2020-12-25 17:30] juv commented on #8
Well, take a look here:
1. I am calling the code of @Horex to adjust the brightness value to 100
2. the brightness gets adjusted as expected
3. I refresh in the Nvidia Control Panel to see if the values get updated / adjusted to the higher brightness value
4. The brightness value in the NVCP is the same as before and when I adjust the slider in the NVCP, the screen gets even brighter.

Note that i

[2020-12-25 17:33] falahati commented on #8
Oh yeah, I see the source of confusion.
The thing is, you can't get the raw values from the gamma ramp. So NVCP keeps these data in the registry. But it uses `SetDeviceGammaRamp()` to apply the final generated ramp.
So changing the gamma ramp directly won't change the values in the NVCP UI; in other words, it makes the NVCP UI show invalid values.

[2020-12-25 17:35] falahati commented on #8
And the other thing about the screen becoming, even more, brighter is because the algorithm used by @Horex is different from the one used by NVCP. That's why ranges are different and that's why I wrote an algorithm that works like NVCP. You can try mine and you can see that the 100% when applied with NVCP is identical to 100% when using my algorithm.

[2020-12-25 18:27] juv commented on #8
@falahati  Interesting. Do you know of a way to read out the values that the NVCP is using from the registry? Maybe even set them? At a quick glance I've found that the key `\REGISTRY\WC\Silo7290d152-ec65-20e2-7b84-1f67bd5e5fb7user_sid\SOFTWARE\NVIDIA Corporation\NVControlPanel2\RegisteredServers\DisplayPanelServer\AdjustDesktopColorSettings\ColorChannel` is written to the registry which appears t

[2020-12-30 12:40] Adenis890 opened #100 "Not working with GTA V Online"
Hi there,

I tried searching and found nothing so i decided to ask here, for some reason vibranceGUI works fine on GTA V Story Mode but when i load up Online i have no vibrance. I tried different exes from the folder and nothing. The current exe i'm using is GTAV.exe, am i doing something wrong or is there another exe that i just can't find.
(also i can't select the desktop icon since it's going t

[2020-12-30 14:25] juv commented on #100
Have you checked if you use the correct .exe file in the task manager? You can right click the process and select "show file path" and it should navigate your Windows explorer to the correct file

[2020-12-30 14:59] Adenis890 commented on #100
Yeah it navigates to GTAV.exe. I guess they just not allow it.

[2020-12-30 15:39] juv commented on #100
Have you tried adding it from the built-in process browser when you are in-game in GTA V Online?

[2020-12-30 15:51] Adenis890 commented on #100
i tried adding the process while in gta online and while alt-tabbing it worked once and after i alt-tabbed again it didn't work anymore

[2020-12-30 16:09] juv commented on #100
Can you try this pre-release build with a fix for alt-tab issues that occur infrequently?
https://github.com/juv/vibranceGUI/issues/95#issuecomment-750918557

[2020-12-31 13:02] Adenis890 commented on #100
I'm very sorry for the late reply.
I tried the pre-release build and it works perfectly. The vibrance is staying on even if i alt tab. Thank you a lot!

[2020-12-31 13:48] juv commented on #100
Glad to hear that. I'm closing this issue then.

[2020-12-31 13:48] #100 closed

[2021-01-01 13:32] TheBliTzzzzzz commented on #95
@ImOnMars You had a chance to try this yet? Seems like getting the new version out there would be awesome.

[2021-01-11 18:27] sgraewe commented on #98
Little late but I have the same problem.

I'm using just 1 monitor.

[2021-01-13 17:31] juv commented on #97
Hi, can you explain how you set the color effects? Please take screenshot
of it. I can probably clear up your confusion after seeing the screenshots.

Thanks

Tarkinn <notifications@github.com> schrieb am Mi. 13. Jan. 2021 um 18:05:

[2021-01-13 17:41] Tarkinn commented on #97
hey, i didn't touch the color options at all, i just used vibrance as a normal user would do. I only added those nvidia control panel as a note of things i noticed.
The only change i made was to connect my laptop to a second screen.

[2021-01-15 19:36] juv commented on #97
@Tarkinn so you say with your second monitor attached, you have the Digital Vibrance option in your NVIDIA Control Panel? We're not talking about contrast/brightness/gamma here.

![image](https://user-images.githubusercontent.com/8269353/104770745-5aba1e80-5771-11eb-9b01-5ca04f04be97.png)

[2021-01-15 22:00] Tarkinn commented on #97
Absolutely I even changed it to 100% yesterday so i am sure it works. here's a video to show you : https://youtu.be/NL-n5qjvgbw
https://youtu.be/y1FdOT1QV2c , as you see it's not a matter of nvidia laptop graphic cards not supporting vibrance (like you say on your site) but more a matter of laptop screen not offering color/light options though i don't know why. I can only guess monitors have some

[2021-01-15 23:34] juv commented on #97
And you can use vibranceGUI when you have your second monitor plugged in? Without error message and everything is working?

[2021-01-17 18:06] Tarkinn commented on #97
yes, at least on the screen i tested.

[2021-01-29 14:32] TheBliTzzzzzz commented on #95
@juv So, there seems to have a been an Nvidia Driver update, and it's made my alt-tabs incredibly quick which is awesome. As a result of me switching res to 4:3, they were a lot slower, but that seems to have been fixed. But, it seems that even the lastest VibranceGUI Beta is struggling again. It just applied to my second monitor, despite me having the "Apply to primary monitor on only" enabled, a

[2021-02-02 12:20] Tarkinn commented on #97
I randomly found that (look the right part of the screenshot) as you see my laptop screen's color settings are monitored by intel and my second screen's colors are monitored by my gpu so that's kinda funny.
![image](https://user-images.githubusercontent.com/47140244/106599150-f5c83c00-6558-11eb-9ed5-1d55c98bfebf.png)

[2021-02-20 12:41] PrayHE opened #101 "Dual GPU driver issue"
Alltogether I really love this tool and I will also donate something because I've been using this utility for such a long time and I just can't live without it. Thank you for this awesome piece of software!
One problem I have is the following:
I have installed macOS besides Windows on my PC. The macOS only supports AMD GPUs.
I also have another GPU from NVIDIA which I'm using in Windows because it

[2021-02-26 23:25] juv commented on #101
Hi @PrayHE, you are correct that vibranceGUI detects those files to determine if the AMD gpu drivers have been installed correctly. "Installed correctly" as in vibranceGUI can communicate with the AMD gpu by utilizing the AMD driver libraries. So there had been issues where people had multiple GPU drivers installed and this causes the application to be unable to function properly.

I wonder why yo

[2021-02-27 00:33] PrayHE commented on #101
It seems like these files are automatically created again once the GPU is enabled in the device-manager.
But since I keep it disabled anyway it's not that big of a deal to delete these files once.
I just didn't know if this is an intended behaviour or not. Thank you for responding!

[2021-02-27 00:33] #101 closed

[2021-03-23 19:51] tastyhub opened #102 "Both NVIDIA AND AMD FOUND ON YOUR SYSTEM - but i'm mining coin with my 2nd gpu :("
Any chance to offer an option to disable this notification? Its nice that you are trying to help the end user, but it disables vibrancegui all together.

Thanks!
![Screenshot 2021-03-23 145054](https://user-images.githubusercontent.com/136613/112209200-35211980-8be7-11eb-80ac-2b21b09c38bc.png)

[2021-04-05 03:25] kaimian opened #103 "vibranceGUI suggestion"
Hello, i didn't find any suggestions page. So i'm using this to give you one. I'm sorry if i am being rude, but i think this suggestion is worth it, if not, please ignore or delete this message.
The vibranceGUI fill a very nice gap on tweaking a game the way you like it without messing up with your desktop in general. And today i felt the necessity to further improve a game with Gamma tweaks. If i

[2021-04-06 12:22] ajohnsen commented on #60
I have this problem as well.
It often affects my 2nd monitor and I have to reset the vibrance for this monitor manually.

My main monitor is 1920x1080 using DisplayPort while my 2nd monitor is 1920x1200 using DVI if that makes a difference.

[2021-04-12 01:51] mat-ui commented on #81
I know this is an old issue, but I just started using vibranceGUI and it's bugging the hell out of me. It's a super minor annoyance, but I tried the fixes here (and using version 2.4 just for fun), but no matter what, vibranceGUI starts normally with startup, is completely fine on the lock screen for 10-15 seconds, and then it turns vibrance to the default (50%) until I log in. Why does this happe

[2021-04-18 15:18] ajohnsen commented on #60
Nevermind, today i've had the same problem again.

Vibrance is still applied to secondary monitor after exiting game, even if i have said to only affect primary monitor.

[2021-04-18 15:29] juv commented on #60
@ajohnsen can you explain more in depth what your initial setup is and when the change of vibrancy changes on your second monitor.

vibrancegui settings:
windows level: ?
ingame level: ?

Which steps do you do?
1. start game, everything is fine (second monitor is unaffected but primary monitor is affected)?
2. tab out, everything is fine?
3. close game, second monitor is affected?

is this reprodu

[2021-04-18 17:35] ajohnsen commented on #60
My settings are:
Windows vibrance: 50%
csgo vibrance: 100%

'affect primary monitor only' and 'never change resolution' is on

Sometime it seems like when i tab back and forth that its only applied to the 2nd monitor and never reset it.

I tried to reproduce right now, i had a youtube video in fullscreen on the 2nd monitor while having cs on the other.
When i tabbed out of cs, maximized the youtub

[2021-04-18 21:14] juv commented on #60
There are no log files for tracking this down at the moment.
But it could be that Windows is assigning the game to your second monitor for a short amount of time when you tab out and because of the event driven nature of vibrancegui - as in "all of your application switches into foreground are given to vibrancegui by a windows api " - it is possible that the game is triggering a change for your se

[2021-04-19 11:57] murphify commented on #8
@juv

I've actually fucked around with the registry trying to achieve the same result. My hypothesis was that it was editing the registry to change these color values, but thats unfortunately not the case. I copied a before and after of my registry to see if that would change the values, but unfortunately the only thing the registry does, in my case, is change the slider positions in NvCp. However

[2021-06-10 22:39] ojm50 opened #104 "How do I set it back to normal and uninstall it?"
How do I set VibranceGUI back to normal (like normal vibrance, before I opened VibranceGUI), and then how do I uninstall?

[2021-06-11 05:34] juv commented on #104
Add one application to the program list, set windows vibrance level to 50%
(nv) or 100 (amd), then tab into some program and the vibrance should be
back to normal.

For uninstalling, disable autostart, close/quit vibrancegui and delete the
exe

ojm50 ***@***.***> schrieb am Fr. 11. Juni 2021 um 00:39:

[2021-06-11 10:05] Slickz88 opened #105 "ALT TAB and 1080 causes green tint on screen"
im using Win 7 previously and it work just fine i have my native resolution which is at 2560 x 1440 and csgo at 1920 x 1080 work wonderful *max 300*

then i install windows 10 now im facing with green tint when setting the number to 300 it fine at 1st but when i ALT TAB and return to the game it became green.. i can only use 300 when im in the same resolution as my desktop,, if i change the csgo t

[2021-06-12 01:02] #105 closed

[2021-06-14 13:08] Phenomz commented on #61
Hello, came across this thread from a Google search, I'm facing this exact same issue. Applications and games do work well, but the Windows vibrance only changes when VibranceGUI is closed, whereas it used to change instantly when the program was minimized. This started to happen with the latest NVIDIA driver update, it had happened to me before but I managed to solve it or it solved by itself, bu

[2021-07-28 20:56] jeriks31 opened #106 "Add ability to set "Windows Vibrance Level" lower than 50%"
I've put my vibrance at 45% in NVIDIA control panel for better color accuracy on my monitor when I'm not playing csgo, but vibrancegui always turns it back up to 50%

[2021-07-28 21:14] #91 closed

[2021-07-28 21:22] juv commented on #103
Hi, thanks for your suggestion. I'm afraid this is a duplicate of https://github.com/juv/vibranceGUI/issues/8 - which still needs a proper implementation

[2021-07-28 21:22] #103 closed

[2021-07-28 21:22] #104 closed

[2021-07-28 21:22] juv commented on #106
Hi, this is a duplicate of https://github.com/juv/vibranceGUI/issues/62

[2021-07-28 21:22] #106 closed

[2021-07-28 21:27] juv commented on #60
@ajohnsen can you try this version here and see if this problem was fixed? https://github.com/juv/vibranceGUI/issues/95#issuecomment-750918557

[2021-08-09 10:30] ajohnsen commented on #60
Tried it a little, and so far its working. I'll comment again if I see it happening :)

[2021-08-09 12:03] bigfinfrank commented on #102
This should probably be a "Do you really know what you're doing?" popup with an option to pick which driver type you want VibranceGUI to use.

[2021-08-14 19:03] ajohnsen commented on #60
Seems like this version also has this problem, I guess it happens when I alt tab a lot. Do you have a version that have some logging that i can monitor to see if i can find what triggers it?

[2021-08-24 13:21] ret42 opened #107 "Don't working on 1 monitor"
I have a 2 monitor and only the second get affect (I check primary monitor etc..)
The first monitor can go under 100 but higher there is 0 changement

[2021-08-25 06:50] relay77 opened #108 "VibranceGUI polling likely causes microstuttering in CS:GO"
Hi, I have noticed that VibranceGUI is the culprit to microstuttering issues I have been seeing in CS:GO. I think this issue has persisted for some time, and it is only recently that I have tried to diagnose the issue. Unfortunately, I cannot provide much insight as to why this occurs, but I suspect that it is the polling that is causing the stutter. I have witnessed this also happen in some other

[2021-08-25 09:23] juv commented on #108
there is no polling in vibranceGUI, the application reacts to Windows events that get triggered when you switch applications (alt+tab / clicking on application icons in the Windows app/tray bar)

[2021-09-04 11:11] hfghwpgg commented on #102
before posting your own, check for resolved issues reported by other users.
https://github.com/juv/vibranceGUI/issues/67

[2021-09-11 15:27] semendanshin opened #109 "Cannot reset vibrance"
Hello. I successfully used vibrancegui for a while, but then I noticed that the increased saturation became constant. I tried changing the program settings, deleting it, reinstalling the nvidia driver, but nothing helps. In the nvidia control panel, the digital intensity is at 50, but the picture is still oversaturated.

[2021-09-11 16:19] juv commented on #109
When your digital vibrance value is at 50% inside of Nvidia control panel, then something in your GPU drivers bugged out. I suggest reinstalling your GPU driver. This usually helps.

[2021-09-12 14:24] semendanshin commented on #109
DDU didn`t help(

[2021-09-19 05:26] Kodakieee opened #110 "getting Changing the resolution failed: DispChangeBadFlags"
No clue whats causing and dont know a fix

[2021-09-19 14:13] juv commented on #110
Did you recently switch your monitor and had configured some display switch settings in your vibrancegui?

[2021-09-28 17:50] #109 closed

[2021-09-28 17:53] partoftheworlD commented on #74
Started using vibranceGUI again and this time managed to reproduce the bug. If log out of user account several times, saturation is reset to 0 and can only be restored by manually changing the value.

[reproducing bug](https://youtu.be/C6P61m6l41U)

[vibranceGUI.zip](https://github.com/juv/vibranceGUI/files/7246274/vibranceGUI.zip)

[2021-09-28 17:58] partoftheworlD opened #111 "Sometimes after Windows restart, value of saturation in AMD driver is set to 0"
duplicate of issue #74

Started using vibranceGUI again and this time managed to reproduce the bug. If log out of user account several times, saturation is reset to 0 and can only be restored by manually changing the value.

[reproducing bug](https://youtu.be/C6P61m6l41U)

[vibranceGUI.zip](https://github.com/juv/vibranceGUI/files/7246274/vibranceGUI.zip)

[2021-10-13 20:06] Nirgranth opened #112 "Virustotal flag"
https://www.virustotal.com/gui/file/1cbaa4d4c817743a7ec88bdc3f8d15200e543a86e0b3374c6d05a15a0762970f/community

anyone know why its flagged and any more info will be appreciated

[2021-11-16 12:17] Shaydera opened #113 "Inconsistent behaviour in Battlefield 2042"
I've experienced inconsistent behaviour when using this tool for Battlefield 2042.
The vibrance change will only trigger around ~30% of the times when tabbing into the Game.

I have already tried to debug this and noticed that the Windows Event Hook sometimes just won't get called on bringing the game into foreground, in this cases it will be called on tabbing OUT of the game tho.

I did test this

[2021-11-19 22:53] juv commented on #113
which version are you using?

[2021-11-20 10:33] Shaydera commented on #113
VibranceGUI Version 2.3.1.1 on a NVIDIA 3080Ti with Driver Version 496.76
Windows 10 21H1 (Build 19043.1348, up2date)

I've debugged with the current master branch.

[2021-11-20 11:04] juv commented on #113
Thanks for trying to debug it. We also had a few occurences when people had similar issues;
I tried to add one more Windows event type to be informed by the hook. See here:

https://github.com/juv/vibranceGUI/issues/95#issuecomment-664959130
https://github.com/juv/vibranceGUI/issues/95#issuecomment-750918557

Maybe `EVENT_SYSTEM_SWITCHEND` could also be of interest. It's not clear what exactly the

[2021-11-26 12:19] abdulPablo opened #114 "Changing the resolution failed: DispChangeBadFlags"
I recently changed my apex legends resolution, it worked perfectly, but the cursor was a little mis-inputted, i changed it back, for some dumb reason i decided to change my explorer (whole screen resolution) and its stuck in a box in the top right, i tried changing it back, now all i get is Changing the resolution failed: DispChangeBadFlags, please help, ASAP. Cheers.

[2021-11-27 10:28] juv commented on #114
Closing vibranceGUI.exe once in your task manager once should help?

[2021-11-27 12:57] abdulPablo commented on #114
i fixed the explorer problem, but now if my resolution is other than 1920x1080 its centered, it wasnt like this before, what to do?

[2021-11-28 11:10] juv commented on #114
Please show me a screenshot of your vibranceGUI main window and the game-specific window.
Also the "Never change resolutions" checkbox in the main window may a solution to what you see. Have you tried using that if you don't want vibranceGUI to change your resolution at all?

[2021-11-30 05:42] abdulPablo commented on #114
Yes, i have tried it, but it doesnt seem to work
![ninini](![asdasd](https://user-images.githubusercontent.com/95083627/143992204-afa92353-22ca-49ed-85dd-a927b23c4326.PNG))

[2021-11-30 05:43] abdulPablo commented on #114
![ninini](https://user-images.githubusercontent.com/95083627/143992253-e4306ea1-683f-4e88-a587-8c612477f2ce.PNG)

[2021-11-30 05:43] abdulPablo commented on #114
![asdasd](https://user-images.githubusercontent.com/95083627/143992265-d35a8b38-aa98-4b86-b006-9d312eb4da62.PNG)

[2021-12-03 19:56] juv commented on #114
You can try to remove the vibranceGUI program data:
1. close vibranceGUI
2. navigate to Explorer -> type `%appdata%\vibranceGUI` in the address bar and then rename `vibranceGUI.ini` and `applicationData.xml` to something else
3. start vibranceGUI
4. your configuration settings should be gone (you renamed the files that are saving your settings)

Let me know if that helps

[2021-12-04 06:26] abdulPablo commented on #114
Still doesn't work.

[2021-12-04 06:26] abdulPablo commented on #114
Just a suggestion, if I were to change boot devices would it fix?

[2022-01-01 00:49] Scrumplex commented on #21
As @i-need-to-tell-you-something mentioned there is an alternative for this on Linux. It's is indeed hard to install currently, which is why we will have a Flatpak on Flathub in the future. That way most major distros should be supported.

Vibrant Linux now lives at https://github.com/libvibrant/vibrantLinux
Flatpak progress is at: https://github.com/flathub/flathub/pull/2720

[2022-01-01 13:06] juv commented on #112
This topic was brought up in a Reddit thread yesterday. You can find a little bit more detailed review of the warnings in the automated malware analysis from virustotal/hybrid-analysis here:
https://www.reddit.com/r/GlobalOffensive/comments/rsovm1/comment/hqo5s2e
https://www.reddit.com/r/GlobalOffensive/comments/rsovm1/comment/hqowyuf

Make sure to always download binaries from the official websit

[2022-01-14 00:34] Ayinaki opened #115 "Resolution Issue after closing game."
Okay so i play csgo in 1280x960 so i typically change it before i play so the game doesnt load up in my native res, I also play with vibranceGUI on for csgo however when i get off csgo and try to change my resolution back it changes to native for a few seconds then instantly goes back to my streched res, this only occurs if vibrance gui is open and if i close it the res can be changed completely n

[2022-01-14 17:34] Ayinaki commented on #115
Edit: Turning on the "Never change resolutions" setting completely stops this bug from happening. No idea why since it wasnt changing my res in the first place only the saturation but thats how i managed to get around this

[2022-01-17 21:46] Younase commented on #19
vibranceGUI didn't work for me (since nvidia laptops are not supported) so i made this script, hope it helps someone.
https://gist.github.com/Younase/5cc1114812e7839585c06964086e3c1b

[2022-01-19 14:03] BiRooT opened #116 "Alt tabbing out of vulkan games result in black screen"
Hey,

First of all, thanks for this usefull program :)

I would like to bring your attention to the fact that it seems that my black screen issue when alt tabbing out of Vulkan games comes from VibranceGUI 2.3.1.1 (seems your last stable version).
I have an AMD GPU (RX 5700 XT), when I play to DirectX games, I don't have any problem, if I launch a Vulkan game (Red Dead Redemption 2 at least, I jus

[2022-01-21 12:52] Manue3pii commented on #60
Thank you, starting csgo without "Affect primary monitor only" was the fix for me ^^

[2022-01-23 04:54] Nirgranth commented on #112
Find more info here
https://www.reddit.com/r/GlobalOffensive/comments/rsovm1/vibrance_gui_suspicious_behaviour/

TL:DR; Its okay

[2022-01-23 04:54] #112 closed

[2022-03-19 22:52] Laudster00 opened #117 "VibranceGUI error drivers"
Hello guys, I have already removed all the old drivers that I forgot to remove from my previous video card, but the application still insists that they are still here, does anyone know how to solve?

[2022-03-20 00:49] juv commented on #117
Hi, did you try uninstalling the old drivers with the "display driver uninstaller" tool? That tool will clean up all leftovers.

Vibrancegui is basically performing the driver check by searching for certain driver files on your pc. There should be no false positives in this detection.

[2022-03-20 01:50] Laudster00 commented on #117
yes, I downloaded the "Display Driver uninstaller" and did all the paços but the warning continues to appear

[2022-03-23 20:56] juv commented on #117
If your old gpu is from AMD: delete/rename/move files "atiadlxy.dll" and/or "atiadlxx.dll" out of your Windows folder
If your old gpu is from NVIDIA: delete/rename/move file "nvapi.dll" out of your Windows folder

[2022-03-26 13:54] juv commented on #116
Hi,

thanks for creating this issue. Unfortunately, the AMD version of vibranceGUI is no longer maintained because the contributor for the AMD portion of the code has lost interest. Because I do not have access to an AMD gpu, this will be hard to test and find a solution for. It's unlikely that this can be resolved anytime soon if not someone else steps up and tries to implement a bugfix for this.

[2022-04-22 13:35] gosnje opened #118 "PLEASE SOMEONE HELP"
I adjust it to max and it closed and my csgo is now all green and i cant play it and if i want to go back in vibrancegui it says that can only be opened one time and i dont no how to fix it please someone help me i tried unistalling and installing the game but it didnt work!!!!

[2022-04-22 14:06] juv commented on #118
Check your Windows tray menu, you probably just minimized the application and it is still running? If not, you can stop the process in task manager and restart the application

[2022-05-25 04:05] miltoz opened #119 "Vibrancegui AutoStartup error"
so, i just reinstalled windows 10 on my pc and when i went to turn on autostart on vibrancegui i got this scary popup, after that i wiped my drivers with ddu and reinstalled everything but it keeps coming back every time i activate autostartup and it wont start autommatically, please help me fix this issue.
![Screenshot 2022-05-25 010103](https://user-images.githubusercontent.com/89163879/17017739

[2022-05-25 15:48] juv commented on #119
Hi, this exception mesaage can not break anything on your pc, so you have nothing to worry about except that vibrancegui can not be regiatered to autostart. Can you copy the exception text and paste it here? Thanks

[2022-05-26 16:11] juv commented on #119
Have you tried to start vibranceGUI as an administrator?
Can you try to manually add vibranceGUI to your autostart in the task manager? [Here ](https://support.microsoft.com/en-us/windows/add-an-app-to-run-automatically-at-startup-in-windows-10-150da165-dcd9-7230-517b-cf3c295d89dd) is a guide from microsoft.

[2022-05-27 05:22] miltoz commented on #119
Yes, i know i can put it in shell:startup, but it opens the window when it starts up so i really want to fix this so it can startup normally. I tried running it with administrator but nothing changed so i dont know what to do, thanks for your help though, i really appreaciate it. :) btw i also tried the first version and its the same there aswell.

[2022-05-27 05:34] miltoz commented on #119
couldnt fix the error so i just gave up and used this method: https://superuser.com/questions/1223465/how-to-start-any-file-on-startup-hidden , i found out that the error probably has something to do with my pirated version of visual studio 2022 so its completely my fault to begin with :D

[2022-05-27 22:08] juv commented on #119
to start the application in minimized window mode, you can just create a link of the vibranceGUI.exe file, go to the link properties, then append a ` -minimized` to the **destination** of the link. then put that into your autostart. it's virtually the same thing that the application is doing in code: https://github.com/juv/vibranceGUI/blob/master/vibrance.GUI/common/VibranceGUI.cs#L263

[2022-05-27 22:53] miltoz commented on #119
thaks! i already did it!

[2022-05-27 22:53] #119 closed

[2022-06-24 17:57] nyaray commented on #67
Isn't it possible to ask which to use if the application detects that both drivers are present?

[2022-07-15 18:21] katsup4ik opened #120 "Command line options"
Hi, where im can find command lines of virbancegui? Im need create bat file for turn on/off app, or change ingame virbance level from *175 to default.
example:
call "%vibrancegui%" -175 (-on)
call "%smth%" -silent
call "%vibrancegui%" -100 (-off)

[2022-08-01 16:13] zisis912 opened #121 "Alt+tabbing from or to CSGO takes 5 seconds when VibranceGUI is open."
For context, csgo normally instantly alt tabs like every other application. But when I add it on vibrancegui so as to change its digital vibrance, I noticed that the alt tab time massively increased. I dont even need to turn off vinbrance gui, just removing csgo from it is enough to make it go back to normal. That's why I'm certain it has to do with the program. Any fixes?

[2022-08-01 18:22] juv commented on #121
Hi, what GPU do you have?

[2022-08-10 08:35] scheMeZa opened #122 "[FEATURE] Gamma control"
Can we get Gamma control per game too?

[2022-08-30 22:55] K1ro67 commented on #51
hello good, I have the same problem and when I want to rename the files it tells me that I need administrator permissions and does not let me do it

[2022-08-30 22:55] K1ro67 commented on #51
hello good, I have the same problem and when I want to rename the files it tells me that I need administrator permissions and does not let me do it

[2022-10-24 09:45] kaitinhio opened #123 "o"

[2022-11-26 01:09] willjsaint commented on #8
Suppose it's time for this issues yearly checkup?